<% if( typeof errors != 'undefined'){ %>
  <%errors.forEach(function(error){ %>
    <div class="alert alert-warning alert-dismissible"  role="alert">
      <%= error.msg %>
    </div>
  <% }) %>
<% } %>

<% if(error && error.length > 0){ %>
  <div class="alert alert-danger" role="alert">
      <%= error %>
  </div> 
<%  } %>

<% if(success && success.length > 0){ %>
  <div class="alert alert-success" role="alert">
    <%= success %>
  </div> 
<%  } %>