<% include ../partials/header %>

<!-- <div class="container"> -->
  <h2 style="text-align: center;">Add New Comment to <span class="blog-title"><%= blog.title %></span></h2>
  <div style="width: 250px; margin: 25px auto;">
      <form action="/becepastquestions/blogs/<%= blog._id %>/comments" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="comment[text]" placeholder="text">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-block" value="Submit">
        </div>
        
      </form>
      <a href="/becepastquestions">Go Back</a>
  </div>
<!-- </div> -->

<% include ../partials/footer %>
