<% include ../partials/header %>
      <div class="group">
        <div class="group">
          <div class="col span_1_of_2">
            <p id="stopWatch"></p>
          </div>
          <div class="col span_1_of_2" id="score">
            <p class="score"></p>
          </div>
        </div>
        <h3>B.E.C.E Integrated <span class="year">Science_2019</span> (Objectives)</h3>
      </div>
      <div class="quiz-sample js--wp-1">

        <div class="field">
          <div class="objective-question-num">1.</div>
          <div class="objective-question">
            <p> Steel is an alloy of iron and  </p>
          </div>
          <label id="A-1" class="A">
            <input name="choices-1" type="radio" value="A">
            <span>aluminium.</span>
          </label>
          <label id="B-1" class="B">
            <input name="choices-1" type="radio" value="B">
            <span>carbon.</span>
          </label>
          <label id="C-1" class="C">
            <input name="choices-1" type="radio" value="C">
            <span>silicon.</span>
          </label>
          <label id="D-1" class="D">
            <input name="choices-1" type="radio" value="D">
            <span>gold.</span>
          </label>
          <button class="submit" id="submit-1">Submit</button>
        </div>

        <div class="field">
          <div class="objective-question-num">2.</div>
          <div class="objective-question">
            <p> An atom that has lost one or more electron(s) is called </p>
          </div>
          <label class="A" id="A-2">
            <input name="choices-2" type="radio" value="A">
            <span>a molecule.</span>
          </label>
          <label class="B" id="B-2">
            <input name="choices-2" type="radio" value="B">
            <span>a proton.</span>
          </label>
          <label class="C" id="C-2">
            <input name="choices-2" type="radio" value="C">
            <span>an ion.</span>
          </label>
          <label class="D" id="D-2">
            <input name="choices-2" type="radio" value="D">
            <span>a negative particle.</span>
          </label>
          <button class="submit" id="submit-2">Submit</button>
        </div>

        <div class="field">
          <div class="objective-question-num">3.</div>
          <div class="objective-question">
            <p> In all machines, the efficiency is </p>
          </div>
          <label class="A" id="A-3">
            <input name="choices-3" type="radio" value="A">
            <span>always 100%.</span>
          </label>
          <label class="B" id="B-3">
            <input name="choices-3" type="radio" value="B">
            <span>less than 100%.</span>
          </label>
          <label class="C" id="C-3">
            <input name="choices-3" type="radio" value="C">
            <span>more than 100%.</span>
          </label>
          <label class="D" id="D-3">
            <input name="choices-3" type="radio" value="D">
            <span>always 0%.</span>
          </label>
          <button class="submit" id="submit-3">Submit</button>
        </div>

        <div class="field">
          <div class="objective-question-num">4.</div>
          <div class="objective-question">
            <p> In electronic circuits, LEDs are used to indicate the absence or presence of</p>
          </div>
          <label class="A" id="A-4">
            <input name="choices-4" type="radio" value="A">
            <span>voltage source.</span>
          </label>
          <label class="B" id="B-4">
            <input name="choices-4" type="radio" value="B">
            <span>p-n junction.</span>
          </label>
          <label class="C" id="C-4">
            <input name="choices-4" type="radio" value="C">
            <span>electric current.</span>
          </label>
          <label class="D" id="D-4">
            <input name="choices-4" type="radio" value="D">
            <span>emitter and collector.</span>
          </label>
          <button class="submit" id="submit-4">Submit</button>
        </div>

        <div class="field">
          <div class="objective-question-num">5.</div>
          <div class="objective-question">
            <p>
              Which of the following statements about the scientific method is/are <strong>correct</strong>? 
              It provides
            </p>
            <p class="extra-info">I.   logical procedure for arriving at knowledge.</p>
            <p class="extra-info">II.  knowledge that can be verified.</p>
            <p class="extra-info">III. knowledge that can never be changed.</p>
          </div>
          <label class="A" id="A-5">
            <input name="choices-5" type="radio" value="A">
            <span>I only.</span>
          </label>
          <label class="B" id="B-5">
            <input name="choices-5" type="radio" value="B">
            <span>I and II only.</span>
          </label>
          <label class="C" id="C-5">
            <input name="choices-5" type="radio" value="C">
            <span>I and III only.</span>
          </label>
          <label class="D" id="D-5">
            <input name="choices-5" type="radio" value="D">
            <span>II and III only.</span>
          </label>
          <button class="submit" id="submit-5">Submit</button>
        </div>

        <div class="field">
          <div class="objective-question-num">6.</div>
          <div class="objective-question">
            <p> Which of the following substances is a compound?</p>
          </div>
          <label class="A" id="A-6">
            <input name="choices-6" type="radio" value="A">
            <span>Hydrogen.</span>
          </label>
          <label class="B" id="B-6">
            <input name="choices-6" type="radio" value="B">
            <span>Nitrogen.</span>
          </label>
          <label class="C" id="C-6">
            <input name="choices-6" type="radio" value="C">
            <span>Oxygen.</span>
          </label>
          <label class="D" id="D-6">
            <input name="choices-6" type="radio" value="D">
            <span>Water.</span>
          </label>
          <button class="submit" id="submit-6">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">7.</div>
          <div class="objective-question">
            <p>Which of the following source(s) of energy is/are renewable? </p>
            <p class="extra-info">I.   Solar.</p>
            <p class="extra-info">II.  Crude oil.</p>
            <p class="extra-info">III. Wind.</p>
          </div>
          <label class="A" id="A-7">
            <input name="choices-7" type="radio" value="A">
            <span>I only.</span>
          </label>
          <label class="B" id="B-7">
            <input name="choices-7" type="radio" value="B">
            <span>I and II only.</span>
          </label>
          <label class="C" id="C-7">
            <input name="choices-7" type="radio" value="C">
            <span>I and III only.</span>
          </label>
          <label class="D" id="D-7">
            <input name="choices-7" type="radio" value="D">
            <span>I, II and III.</span>
          </label>
          <button class="submit" id="submit-7">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">8.</div>
          <div class="objective-question">
            <p>The pressure in fluids </p>
          </div>
          <label class="A" id="A-8">
            <input name="choices-8" type="radio" value="A">
            <span>increases with depth.</span>
          </label>
          <label class="B" id="B-8">
            <input name="choices-8" type="radio" value="B">
            <span>decreases with depth.</span>
          </label>
          <label class="C" id="C-8">
            <input name="choices-8" type="radio" value="C">
            <span>acts upwards at any point.</span>
          </label>
          <label class="D" id="D-8">
            <input name="choices-8" type="radio" value="D">
            <span>acts differently in all directions.</span>
          </label>
          <button class="submit" id="submit-8">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">9.</div>
          <div class="objective-question">
            <p> Which of the following chemical equations is <strong>balanced</strong>?</p>
          </div>
          <label class="A" id="A-9">
            <input name="choices-9" type="radio" value="A">
            <span>N<sub>2</sub> + H<sub>2</sub> &#8594; NH<sub>3</sub></span>
          </label>
          <label class="B" id="B-9">
            <input name="choices-9" type="radio" value="B">
            <span>N<sub>2</sub> + 3H<sub>2</sub> &#8594; NH<sub>3</sub></span></span>
          </label>
          <label class="C" id="C-9">
            <input name="choices-9" type="radio" value="C">
            <span>2N<sub>2</sub> + H<sub>2</sub> &#8594; 2NH<sub>3</sub></span>
          </label>
          <label class="D" id="D-9">
            <input name="choices-9" type="radio" value="D">
            <span>N<sub>2</sub> + 3H<sub>2</sub> &#8594; 2NH<sub>3</sub></span>
          </label>
          <button class="submit" id="submit-9">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">10.</div>
          <div class="objective-question">
            <p>Lime juice tastes sour because it is</p>
          </div>
          <label class="A" id="A-10">
            <input name="choices-10" type="radio" value="A">
            <span>acidic.</span>
          </label>
          <label class="B" id="B-10">
            <input name="choices-10" type="radio" value="B">
            <span>alkaline.</span>
          </label>
          <label class="C" id="C-10">
            <input name="choices-10" type="radio" value="C">
            <span>basic.</span>
          </label>
          <label class="D" id="D-10">
            <input name="choices-10" type="radio" value="D">
            <span>salty.</span>
          </label>
          <button class="submit" id="submit-10">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">11.</div>
          <div class="objective-question">
            <p>
              A metal block has a mass of 1.0 kg. What is the volume of the block if its density is 10 
              kgm<sup>-3</sup> ?
            </p>
          </div>
          <label id="A-11" class="A">
            <input name="choices-11" type="radio" value="A">
            <span>0.01 m<sup>3</sup></span> 
          </label>
          <label id="B-11" class="B">
            <input name="choices-11" type="radio" value="B">
            <span>0.10 m<sup>3</sup></span> 
          </label>
          <label id="C-11" class="C">
            <input name="choices-11" type="radio" value="C">
            <span>1.00 m<sup>3</sup></span> 
          </label>
          <label id="D-11" class="D">
            <input name="choices-11" type="radio" value="D">
            <span>10.00 m<sup>3</sup></span>
           </label>
          <button class="submit" id="submit-11">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">12.</div>
          <div class="objective-question">
            <p>  It is easier to move a heavy load with a crowbar when the </p>
          </div>
          <label class="A" id="A-12">
            <input name="choices-12" type="radio" value="A">
            <span>effort distance is shorter than the load distance.</span>
          </label>
          <label class="B" id="B-12">
            <input name="choices-12" type="radio" value="B">
            <span>effort distance is longer than the load distance.</span>
          </label>
          <label class="C" id="C-12">
            <input name="choices-12" type="radio" value="C">
            <span>effort distance is equal to the load distance.</span>
          </label>
          <label class="D" id="D-12">
            <input name="choices-12" type="radio" value="D">
            <span>effort is equal to the load.</span>
          </label>
          <button class="submit" id="submit-12">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">13.</div>
          <div class="objective-question">
            <p>  
              Benedict's solution was added to a mixture in a text tube and it turned brick red when heated. 
              The mixture is <strong>likely</strong> to contain 
            </p>
          </div>
          <label class="A" id="A-13">
            <input name="choices-13" type="radio" value="A">
            <span>glucose.</span>
          </label>
          <label class="B" id="B-13">
            <input name="choices-13" type="radio" value="B">
            <span>vitamin.</span>
          </label>
          <label class="C" id="C-13">
            <input name="choices-13" type="radio" value="C">
            <span>protein.</span>
          </label>
          <label class="D" id="D-13">
            <input name="choices-13" type="radio" value="D">
            <span>oil.</span>
          </label>
          <button class="submit" id="submit-13">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">14.</div>
          <div class="objective-question">
            <p>  Chlorine gas is an example of</p>
          </div>
          <label class="A" id="A-14">
            <input name="choices-14" type="radio" value="A">
            <span>an atom.</span>
          </label>
          <label class="B" id="B-14">
            <input name="choices-14" type="radio" value="B">
            <span>an element.</span>
          </label>
          <label class="C" id="C-14">
            <input name="choices-14" type="radio" value="C">
            <span>a compound.</span>
          </label>
          <label class="D" id="D-14">
            <input name="choices-14" type="radio" value="D">
            <span>a molecule.</span>
          </label>
          <button class="submit" id="submit-14">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">15.</div>
          <div class="objective-question">
            <p>  Which of the following statements about a force are <strong>correct?</strong> It </p>
            <p class="extra-info">I. is measured in newtons.</p>
            <p class="extra-info">II. is measured in newton-metre.</p>
            <p class="extra-info">III. can start a motion.</p>
            <p class="extra-info">IV. can change the direction of a moving body.</p>
          </div>
          <label class="A" id="A-15">
            <input name="choices-15" type="radio" value="A">
            <span>I and II only.</span>
          </label>
          <label class="B" id="B-15">
            <input name="choices-15" type="radio" value="B">
            <span>I and III only.</span>
          </label>
          <label class="C" id="C-15">
            <input name="choices-15" type="radio" value="C">
            <span>I, III and IV only.</span>
          </label>
          <label class="D" id="D-15">
            <input name="choices-15" type="radio" value="D">
            <span>I, II, III and IV.</span>
          </label>
          <button class="submit" id="submit-15">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">16.</div>
          <div class="objective-question">
            <p>  Kerosene is able to reach the other end of a wick by</p>
          </div>
          <label class="A" id="A-16">
            <input name="choices-16" type="radio" value="A">
            <span>diffusion.</span>
          </label>
          <label class="B" id="B-16">
            <input name="choices-16" type="radio" value="B">
            <span>suction pressure.</span>
          </label>
          <label class="C" id="C-16">
            <input name="choices-16" type="radio" value="C">
            <span>capillary action.</span>
          </label>
          <label class="D" id="D-16">
            <input name="choices-16" type="radio" value="D">
            <span>osmosis.</span>
          </label>
          <button class="submit" id="submit-16">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">17.</div>
          <div class="objective-question">
            <p>  Which of the following processes is used to separate insoluble solids from liquids?</p>
          </div>
          <label class="A" id="A-17">
            <input name="choices-17" type="radio" value="A">
            <span>Sublimation.</span>
          </label>
          <label class="B" id="B-17">
            <input name="choices-17" type="radio" value="B">
            <span>Filtration.</span>
          </label>
          <label class="C" id="C-17">
            <input name="choices-17" type="radio" value="C">
            <span>Evaporation.</span>
          </label>
          <label class="D" id="D-17">
            <input name="choices-17" type="radio" value="D">
            <span>Crystallization.</span>
          </label>
          <button class="submit" id="submit-17">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">18.</div>
          <div class="objective-question">
            <p>  Which of the following chemical compounds is used in removing hardness in water?</p>
          </div>
          <label class="A" id="A-18">
            <input name="choices-18" type="radio" value="A">
            <span>NaCl</span>
          </label>
          <label class="B" id="B-18">
            <input name="choices-18" type="radio" value="B">
            <span>NaOH</span>
          </label>
          <label class="C" id="C-18">
            <input name="choices-18" type="radio" value="C">
            <span>Na<sub>2</sub>CO<sub>3</sub> </span>
          </label>
          <label class="D" id="D-18">
            <input name="choices-18" type="radio" value="D">
            <span>NaHCO<sub>3</sub> </span>
          </label>
          <button class="submit" id="submit-18">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">19.</div>
          <div class="objective-question">
            <p>  
              When a thermometer is put in hot water, the mercury level rises because the mercury increases in
            </p>
          </div>
          <label class="A" id="A-19">
            <input name="choices-19" type="radio" value="A">
            <span>density.</span>
          </label>
          <label class="B" id="B-19">
            <input name="choices-19" type="radio" value="B">
            <span>mass.</span>
          </label>
          <label class="C" id="C-19">
            <input name="choices-19" type="radio" value="C">
            <span>volume.</span>
          </label>
          <label class="D" id="D-19">
            <input name="choices-19" type="radio" value="D">
            <span>weight.</span>
          </label>
          <button class="submit" id="submit-19">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">20.</div>
          <div class="objective-question">
            <p>  
              The workdone when a force moves a body through a distance of 12m is 720J. The force applied is
            </p>
          </div>
          <label class="A" id="A-20">
            <input name="choices-20" type="radio" value="A">
            <span>8640 N.</span>
          </label>
          <label class="B" id="B-20">
            <input name="choices-20" type="radio" value="B">
            <span>732 N.</span>
          </label>
          <label class="C" id="C-20">
            <input name="choices-20" type="radio" value="C">
            <span>708 N.</span>
          </label>
          <label class="D" id="D-20">
            <input name="choices-20" type="radio" value="D">
            <span>60 N.</span>
          </label>
          <button class="submit" id="submit-20">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">21.</div>
          <div class="objective-question">
            <p>  Which of the following compounds is neutral to litmus paper?</p>
          </div>
          <label id="A-21" class="A">
            <input name="choices-21" type="radio" value="A">
            <span>HCl.</span>
          </label>
          <label id="B-21" class="B">
            <input name="choices-21" type="radio" value="B">
            <span> H<sub>2</sub>O</span>
          </label>
          <label id="C-21" class="C">
            <input name="choices-21" type="radio" value="C">
            <span>NaOH</span>
          </label>
          <label id="D-21" class="D">
            <input name="choices-21" type="radio" value="D">
            <span>KOH</span>
          </label>
          <button class="submit" id="submit-21">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">22.</div>
          <div class="objective-question">
            <p>  A balanced diet is one which is made up of</p>
          </div>
          <label class="A" id="A-22">
            <input name="choices-22" type="radio" value="A">
            <span>right proportions of protein, carbohydrates and oils.</span>
          </label>
          <label class="B" id="B-22">
            <input name="choices-22" type="radio" value="B">
            <span>equal amounts of protein, carbohydrates and oil.</span>
          </label>
          <label class="C" id="C-22">
            <input name="choices-22" type="radio" value="C">
            <span>enough water and iodated salt.</span>
          </label>
          <label class="D" id="D-22">
            <input name="choices-22" type="radio" value="D">
            <span>vegetables, fruits and water.</span>
          </label>
          <button class="submit" id="submit-22">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">23.</div>
          <div class="objective-question">
            <p>  The ovules in a flower develop to form the </p>
          </div>
          <label class="A" id="A-23">
            <input name="choices-23" type="radio" value="A">
            <span>fruit.</span>
          </label>
          <label class="B" id="B-23">
            <input name="choices-23" type="radio" value="B">
            <span>leaf.</span>
          </label>
          <label class="C" id="C-23">
            <input name="choices-23" type="radio" value="C">
            <span>seed.</span>
          </label>
          <label class="D" id="D-23">
            <input name="choices-23" type="radio" value="D">
            <span>stem.</span>
          </label>
          <button class="submit" id="submit-23">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">24.</div>
          <div class="objective-question">
            <p >  Water drains faster through sand than clay because </p>
          </div>
          <label class="A" id="A-24">
            <input name="choices-24" type="radio" value="A">
            <span>sand particles are rougher.</span>
          </label>
          <label class="B" id="B-24">
            <input name="choices-24" type="radio" value="B">
            <span>sand contains more air space.</span>
          </label>
          <label class="C" id="C-24">
            <input name="choices-24" type="radio" value="C">
            <span>clay particles are smoother.</span>
          </label>
          <label class="D" id="D-24">
            <input name="choices-24" type="radio" value="D">
            <span>clay particles are bigger </span>
          </label>
          <button class="submit" id="submit-24">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">25.</div>
          <div class="objective-question">
            <p>  The <strong>best</strong> method for checking erosion on a slope is </p>
          </div>
          <label class="A" id="A-25">
            <input name="choices-25" type="radio" value="A">
            <span>cover cropping. </span>
          </label>
          <label class="B" id="B-25">
            <input name="choices-25" type="radio" value="B">
            <span>mixed cropping. </span>
          </label>
          <label class="C" id="C-25">
            <input name="choices-25" type="radio" value="C">
            <span>contour ploughing.</span>
          </label>
          <label class="D" id="D-25">
            <input name="choices-25" type="radio" value="D">
            <span>mulching.</span>
          </label>
          <button class="submit" id="submit-25">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">26.</div>
          <div class="objective-question">
            <p>  The housefly is an agent for the spread of</p>
          </div>
          <label class="A" id="A-26">
            <input name="choices-26" type="radio" value="A">
            <span>cholera.</span> 
          </label>
          <label class="B" id="B-26">
            <input name="choices-26" type="radio" value="B">
            <span>malaria.</span> 
          </label>
          <label class="C" id="C-26">
            <input name="choices-26" type="radio" value="C">
            <span>measles.</span> 
          </label>
          <label class="D" id="D-26">
            <input name="choices-26" type="radio" value="D">
            <span>tuberculosis.</span>
          </label>
          <button class="submit" id="submit-26">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">27.</div>
          <div class="objective-question">
            <p>  Which of the following substances are carried by the blood?</p>
            <p class="extra-info">I.    Nutrients</p>
            <p class="extra-info">II.   Urine</p>
            <p class="extra-info">III.  Oxygen</p>
            <p class="extra-info">IV.   Carbon dioxide</p>
          </div>
          <label class="A" id="A-27">
            <input name="choices-27" type="radio" value="A">
            <span>II and III only.</span>
          </label>
          <label class="B" id="B-27">
            <input name="choices-27" type="radio" value="B">
            <span>I, II and IV only. </span>
          </label>
          <label class="C" id="C-27">
            <input name="choices-27" type="radio" value="C">
            <span>I and III only. </span>
          </label>
          <label class="D" id="D-27">
            <input name="choices-27" type="radio" value="D">
            <span>I, III and IV only. </span>
          </label>
          <button class="submit" id="submit-27">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">28.</div>
          <div class="objective-question">
            <p>  Which of the following statements about a plant cell is <strong>correct?</strong> It</p>
          </div>
          <label class="A" id="A-28">
            <input name="choices-28" type="radio" value="A">
            <span>does not have a nucleus.</span>
          </label>
          <label class="B" id="B-28">
            <input name="choices-28" type="radio" value="B">
            <span>contains large vacuoles.</span>
          </label>
          <label class="C" id="C-28">
            <input name="choices-28" type="radio" value="C">
            <span>is surrounded by the cell membrane only.</span>
          </label>
          <label class="D" id="D-28">
            <input name="choices-28" type="radio" value="D">
            <span>does not have a definite shape.</span>
          </label>
          <button class="submit" id="submit-28">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">29.</div>
          <div class="objective-question">
            <p>  The study of the soil profile of an area helps the farmer to</p>
          </div>
          <label class="A" id="A-29">
            <input name="choices-29" type="radio" value="A">
            <span>control weed growth.</span>
          </label>
          <label class="B" id="B-29">
            <input name="choices-29" type="radio" value="B">
            <span>determine the soil temperature. </span>
          </label>
          <label class="C" id="C-29">
            <input name="choices-29" type="radio" value="C">
            <span>determine the types of crop to grow.</span> 
          </label>
          <label class="D" id="D-29">
            <input name="choices-29" type="radio" value="D">
            <span>know the pesticides to use. </span>
          </label>
          <button class="submit" id="submit-29">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">30.</div>
          <div class="objective-question">
            <p>  The term leaching in soils refers to</p>
          </div>
          <label class="A" id="A-30">
            <input name="choices-30" type="radio" value="A">
            <span>accumulation of organic matter.</span>
          </label>
          <label class="B" id="B-30">
            <input name="choices-30" type="radio" value="B">
            <span>decomposition of plants materials. </span>
          </label>
          <label class="C" id="C-30">
            <input name="choices-30" type="radio" value="C">
            <span>fixation of nitrogen. </span>
          </label>
          <label class="D" id="D-30">
            <input name="choices-30" type="radio" value="D">
            <span>removal of soil nutrients by water.</span>
          </label>
          <button class="submit" id="submit-30">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">31.</div>
          <div class="objective-question">
            <p>  How many stages does the mosquito go through in its life cycle of development?</p>
          </div>
          <label id="A-31" class="A">
            <input name="choices-31" type="radio" value="A">
            <span>1.</span>
          </label>
          <label id="B-31" class="B">
            <input name="choices-31" type="radio" value="B">
            <span>2.</span>
          </label>
          <label id="C-31" class="C">
            <input name="choices-31" type="radio" value="C">
            <span>3.</span>
          </label>
          <label id="D-31" class="D">
            <input name="choices-31" type="radio" value="D">
            <span>4.</span>
          </label>
          <button class="submit" id="submit-31">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">32.</div>
          <div class="objective-question">
            <p>  Which of the following enzymes helps in the digestion of protein in the human stomach?</p>
            <p class="extra-info"> I.    Proteases</p>
            <p class="extra-info"> II.   Amylase</p>
            <p class="extra-info"> III.  Lipases</p>
          </div>
          <label class="A" id="A-32">
            <input name="choices-32" type="radio" value="A">
            <span>I only. </span>
          </label>
          <label class="B" id="B-32">
            <input name="choices-32" type="radio" value="B">
            <span>II only.</span> 
          </label>
          <label class="C" id="C-32">
            <input name="choices-32" type="radio" value="C">
            <span>I and II only.</span> 
          </label>
          <label class="D" id="D-32">
            <input name="choices-32" type="radio" value="D">
            <span>II and III only.</span> 
          </label>
          <button class="submit" id="submit-32">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">33.</div>
          <div class="objective-question">
            <p>Kidneys absorb water from the blood stream of humans through the process of</p>
          </div>
          <label class="A" id="A-33">
            <input name="choices-33" type="radio" value="A">
            <span>diffusion.</span>
          </label>
          <label class="B" id="B-33">
            <input name="choices-33" type="radio" value="B">
            <span>egestion.</span> 
          </label>
          <label class="C" id="C-33">
            <input name="choices-33" type="radio" value="C">
            <span>osmosis.</span>
          </label>
          <label class="D" id="D-33">
            <input name="choices-33" type="radio" value="D">
            <span>assimilation.</span>
          </label>
          <button class="submit" id="submit-33">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">34.</div>
          <div class="objective-question">
            <p>  The following are examples soil macro-nutrients <strong>except</strong></p>
          </div>
          <label class="A" id="A-34">
            <input name="choices-34" type="radio" value="A">
            <span>copper.</span>
          </label>
          <label class="B" id="B-34">
            <input name="choices-34" type="radio" value="B">
            <span>calcium.</span> 
          </label>
          <label class="C" id="C-34">
            <input name="choices-34" type="radio" value="C">
            <span>phosphorus.</span> 
          </label>
          <label class="D" id="D-34">
            <input name="choices-34" type="radio" value="D">
            <span>potassium.</span> 
          </label>
          <button class="submit" id="submit-34">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">35.</div>
          <div class="objective-question">
            <p>  The vegetable crop that requires staking during its growth is </p>
          </div>
          <label class="A" id="A-35">
            <input name="choices-35" type="radio" value="A">
            <span>sweet pepper.</span>
          </label>
          <label class="B" id="B-35">
            <input name="choices-35" type="radio" value="B">
            <span>garden eggs.</span>
          </label>
          <label class="C" id="C-35">
            <input name="choices-35" type="radio" value="C">
            <span>tomatoes.</span>
          </label>
          <label class="D" id="D-35">
            <input name="choices-35" type="radio" value="D">
            <span>hot pepper.</span>
          </label>
          <button class="submit" id="submit-35">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">36.</div>
          <div class="objective-question">
            <p>  The function of the white blood cells in human is to </p>
          </div>
          <label class="A" id="A-36">
            <input name="choices-36" type="radio" value="A">
            <span>produce haemoglobin.</span>
          </label>
          <label class="B" id="B-36">
            <input name="choices-36" type="radio" value="B">
            <span>produce digestive enzymes.</span>
          </label>
          <label class="C" id="C-36">
            <input name="choices-36" type="radio" value="C">
            <span>ensure blood clot during an injury.</span>
          </label>
          <label class="D" id="D-36">
            <input name="choices-36" type="radio" value="D">
            <span>produce antibodies to fight disease causing organisms.</span>
          </label>
          <button class="submit" id="submit-36">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">37.</div>
          <div class="objective-question">
            <p>  The carpel of a flower is made up of the following parts <strong>except</strong></p>
          </div>
          <label class="A" id="A-37">
            <input name="choices-37" type="radio" value="A">
            <span>filament.</span>
          </label>
          <label class="B" id="B-37">
            <input name="choices-37" type="radio" value="B">
            <span>ovary.</span>
          </label>
          <label class="C" id="C-37">
            <input name="choices-37" type="radio" value="C">
            <span>style.</span>
          </label>
          <label class="D" id="D-37">
            <input name="choices-37" type="radio" value="D">
            <span>stigma.</span>
          </label>
          <button class="submit" id="submit-37">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">38.</div>
          <div class="objective-question">
            <p>A food web shows how</p>
          </div>
          <label class="A" id="A-38">
            <input name="choices-38" type="radio" value="A"> 
            <span>food produced by plants is distributed to other parts of the plant.</span>
          </label>
          <label class="B" id="B-38">
            <input name="choices-38" type="radio" value="B">
            <span>an organim protects itself in its environment.</span>
          </label>
          <label class="C" id="C-38">
            <input name="choices-38" type="radio" value="C">
            <span>organisms depend on one another for shelter.</span>
          </label>
          <label class="D" id="D-38">
            <input name="choices-38" type="radio" value="D">
            <span>food produced by green plants is distributed among organisms in a community.</span>
          </label>
          <button class="submit" id="submit-38">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">39.</div>
          <div class="objective-question">
            <p>Balanced ration enables animals to </p>
          </div>
          <label class="A" id="A-39">
            <input name="choices-39" type="radio" value="A">
            <span>increase fertility rate.</span>
          </label>
          <label class="B" id="B-39">
            <input name="choices-39" type="radio" value="B">
            <span>maintain normal growth.</span>
          </label>
          <label class="C" id="C-39">
            <input name="choices-39" type="radio" value="C">
            <span>increase meat production. </span>
          </label>
          <label class="D" id="D-39">
            <input name="choices-39" type="radio" value="D">
            <span>maintain energy level of work animals.</span>
          </label>
          <button class="submit" id="submit-39">Submit</button>
        </div>
        
        <div class="field">
          <div class="objective-question-num">40.</div>
          <div class="objective-question">
            <p>Cultural practices are activities undertaken on a farm </p>
          </div>
          <label class="A" id="A-40">
            <input name="choices-40" type="radio" value="A">
            <span>after harvesting and before processing.</span>
          </label>
          <label class="B" id="B-40">
            <input name="choices-40" type="radio" value="B">
            <span>before maturity and after harvesting.</span>
          </label>
          <label class="C" id="C-40">
            <input name="choices-40" type="radio" value="C">
            <span>after planting and before harvesting.</span>
          </label>
          <label class="D" id="D-40">
            <input name="choices-40" type="radio" value="D">
            <span>before transplanting seedlings.</span>
          </label>
          <button class="submit" id="submit-40">Submit</button>
        </div>
        <div class="theory-questions">
          <div class="group">
            <h3>
              PART II <br>
              Section A <br>
              <em> Answer all of Question 1</em>
              <hr>
            </h3>
          </div>
          <div class="major-questions-num">1.a</div>
          <div class="major-questions-items">
            <ul>
              <li>
                In an experiment, the surfaces of three iron nails were cleaned dry and placed in three separate test tubes <strong>A,
                </strong> <strong>B, </strong> and <strong>C</strong> as shown in the diagram.
                <em> Study the diagram carefully and answer the questions that follow.</em>
                <br>
                <img src="/stylesheets/imgs/ultimatePascorustimagescience2019.PNG" alt="rust-image-science-2019">
                <br>
                <br>
                After three days the nail in test tube <strong>A</strong> was found to have rusted while the nail in the test tubes
                <strong>B</strong> and <strong>C</strong> did not rust. 
                <br>
                <br>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                    <li>Suggest an aim for the experiment. </li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li>Why was the water in test tube <strong>B</strong> boiled?</li>
                  </ul>
                </div>
                <div class="list-numerals">(iii)</div>
                <div class="list-items">
                  <ul>
                    <li>State the function of the oil on top of the water in test tube <strong>B</strong>.</li>
                  </ul>
                </div>
                <div class="list-numerals">(iv)</div>
                <div class="list-items">
                  <ul>
                    <li>What is the purpose of the calcium chloride in test tube <strong>C</strong>?</li>
                  </ul>
                </div>
                <div class="list-numerals">(v)</div>
                <div class="list-items">
                  <ul>
                    <li>Why did the nail in test tube <strong>A</strong> rust?</li>
                  </ul>
                </div>
                <div class="list-numerals">(vi)</div>
                <div class="list-items">
                  <ul>
                    <li>
                        Why did the nail in test tube
                        <li> (&#945;) <strong>B</strong> not rust?</li>
                        <li> (&#946;) <strong>C</strong> not rust?</li>
                    </li>
                  </ul>
                </div>
                <div class="list-numerals">(vii)</div>
                <div class="list-items">
                  <ul>
                    <li>
                      From the experiment, explain why oil is applied on the surface of metal to prevent rusting.
                    </li>
                  </ul><br>
                </div>
          
              </li>
            </ul>
          </div>
          <div class="major-questions-num">1.b</div>
          <div class="major-questions-items">
            <ul>
              <li>
                In an experiment, the following activities were carried out on two green leaves
                <strong>A</strong> and <strong>B</strong>. Leaf <strong>A</strong> was taken from a plant placed in the sunlight for
                sometime while leaf <strong>B</strong> was taken from a plant placed in a dark cupboard for 24 hours.
                <p style="text-align: center; margin-top: 10px;">Activity</p>
                  <li>I. - Leaves dipped in boiling water for 1 minute;</li>
                  <li>II. - Leaves dipped in warm alcohol;</li>
                  <li>III. - Leaves washed in cold water;</li>
                  <li>IV. - Leaves dipped in iodine solution.</li>
                <p>
                  After dipping in the iodine solution, it was observed that leaf <strong>A</strong> changed colour.
                </p>
                <em>Study the activities carefully and answer the questions that follow:</em>
                <br>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                    <li>Suggest an aim for the experiment. </li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li>
                      Explain <strong>briefly</strong> why <strong>each</strong> of the following activities were carried out:
                      <li> (&#945;) I;</li>
                      <li> (&#946;) II;</li>
                      <li> (&#947;) III.</li>
                    </li>
                  </ul>
                </div>
                <div class="list-numerals">(iii)</div>
                <div class="list-items">
                  <ul>
                    <li>State the colour change of leaf <strong>A</strong>.</li>
                  </ul>
                </div>
                <div class="list-numerals">(iv)</div>
                <div class="list-items">
                  <ul>
                    <li>Explain why leaf <strong>A</strong> changed colour.</li>
                  </ul>
                </div>
                <div class="list-numerals">(v)</div>
                <div class="list-items">
                  <ul>
                    <li>Why is it necessary to de-starch the plant before starting the experiment?</li>
                  </ul>
                </div>
                <div class="list-numerals">(vi)</div>
                <div class="list-items">
                  <ul>
                    <li> From the above experiment, what conclusion(s) can be drawn.</li>
                  </ul><br>
                </div>
          
              </li>
            </ul>
          </div>
          <div class="major-questions-num">1.c</div>
          <div class="major-questions-items">
            <ul>
              <li>
                You are provided with two dry soil samples <strong>A</strong> and <strong>B</strong>, a measuring cylinder, beakers,
                funnels, filter paper, beam balance, stop watch and water. With the aid of a labelled diagram, describe an experiment to find out which of the two soil samples can hold more water.
              </li>
            </ul><br>
          </div>
          <div class="major-questions-num">1.d</div>
          <div class="major-questions-items">
            <ul>
              <li>
                The diagram below is an illustration of an experiment that was carried out. In the experiment three pins <strong>1</strong>, <strong>2</strong> and <strong>3</strong> were
                fixed with candle wax onto a metal bar and one end of the bar was heated by means of boiling water. <strong>A</strong>,
                <strong>B</strong> and <strong>C</strong> are thermometers inserted in holes along the bar to measure the temperatures
                at the various points.
                <br>
                <br>
                <em> Study the diagram carefully and answer the questions that follow.</em>
                <br>
                <img src="/stylesheets/imgs/ultimatePascoheattransferscience2019.PNG" alt="heattransfer-image-science-2019">
                <br>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                    <li>Suggest an aim for the experiment.</li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li>What is the temperature of the boiling water?</li>
                  </ul>
                </div>
                <div class="list-numerals">(iii)</div>
                <div class="list-items">
                  <ul>
                    <li>State the observation that would be made about the pins <strong>1</strong>, <strong>2</strong> and <strong>3</strong>.</li>
                  </ul>
                </div>
                <div class="list-numerals">(iv)</div>
                <div class="list-items">
                  <ul>
                    <li>
                        State the observations that would be made about the temperatures recorded by the thermometers <strong>A</strong>, <strong>B</strong> and <strong>C</strong>
                    </li>
                  </ul>
                </div>
                <div class="list-numerals">(v)</div>
                <div class="list-items">
                  <ul>
                    <li>State how heat from the sun is transmitted to the earth.</li>
                  </ul><br>
                </div>
              </li>
            </ul>
          </div>

          <div class="group">
            <h3>
              PART II <br>
              Section B <br>
              <em>Answer <strong>four</strong> questions <strong>only</strong> from this section</em>
              <hr>
            </h3>
          </div>

          <div class="major-questions-num">2.a</div>
          <div class="major-questions-items">
            <div class="list-numerals">(i)</div>
            <div class="list-items">
              <ul>
                <li>What is food chain?</li>
              </ul>
            </div>
            <div class="list-numerals">(ii)</div>
            <div class="list-items">
              <ul>
                <li>Why is the plant in any food chain referred to as a producer? </li>
              </ul>
            </div>
            <div class="list-numerals">(iii)</div>
            <div class="list-items">
              <ul>
                <li>
                  What is the term given to other organisms that depend directly or indirectly on the producer for food? 
                </li>
              </ul><br>
            </div>  
          </div>
          <div class="major-questions-num">2.b</div>
          <div class="major-questions-items">
            <ul>
              <li>
                The diagram below is an illustration of the picture obtained on a screen when an opaque object is placed in the path
                of a light source. <em>Study the diagram and answer the questions that follow:</em>
                <br>
                <img src="/stylesheets/imgs/ultimatePascolightsourceimagesscience2019.PNG" alt="rust-image-science-2019">
                <br>
                <br>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                    <li>Name <strong>each</strong> of the shadows that is cast on the screen:
                        <li> (&#945;) <strong>A</strong></li>
                        <li> (&#946;) <strong>B</strong></li>
                    </li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li>What does the shadow of the object cast on the screen illustrate?</li>
                  </ul><br>
                </div>
                
              </li>
            </ul>
          </div>
          <div class="major-questions-num">2.c</div>
          <div class="major-questions-items">
              <ul>
                <li>Describe <strong>briefly</strong> how a sample of pure sugar could be obtained from a mixture of sugar and sand.</li>
              </ul><br>
          </div>
          <div class="major-questions-num">2.d</div>
          <div class="major-questions-items">
              <ul>
                <li>State <strong>three</strong> ways by which soil can be conserved.</li>
              </ul><br>
          </div>

          <div class="major-questions-num">3.a</div>
          <div class="major-questions-items">
            <ul>
              <li>
                A body of mass 100kg is raised to a height 2 m above the ground. <br>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                    <li>
                      State the name of the energy possessed by the object by reason of its new position.;
                    </li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li>
                      Calculate the value of this energy.
                      <pre>[<strong>g</strong> = 10 ms<sup>-2</sup>]</pre>
                    </li>
                  </ul><br>
                </div>
              </li>
            </ul>
          </div>
          <div class="major-questions-num">3.b</div>
          <div class="major-questions-items">
            <ul>
              <li>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                    <li>What is matter?</li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li> State two of the states of matter. </li>
                  </ul><br>
                </div>
              </li>
            </ul>
          </div>
          <div class="major-questions-num">3.c</div>
          <div class="major-questions-items">
            <ul>
              <li>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                    <li>Describe the nature of loamy soil</li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li> State any two plant nutrients. </li>
                  </ul><br>
                </div>
              </li>
            </ul>
          </div>
          <div class="major-questions-num">3.d</div>
          <div class="major-questions-items">
            <ul>
              <li>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                    <li>
                      State the causative organism for <strong>each</strong> of the following diseases:
                      <li> (&#945;) cholera;</li>
                      <li> (&#946;) tuberculosis.</li>
                    </li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li> State <strong>one</strong> method of prevention of cholera. </li>
                  </ul><br>
                </div>
              </li>
            </ul>
          </div>

          <div class="major-questions-num">4.a</div>
          <div class="major-questions-items">
            <ul>
              <li>Explain <strong>briefly</strong> why a tomato plant is likely to wilt if too much fertilizer is applied</li>
            </ul><br>
          </div>
          <div class="major-questions-num">4.b</div>
          <div class="major-questions-items">
            <ul>
              <li>
                State the dangers involved in <strong>each</strong> of the following activities in the laboratory: <br>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                    <li>eating or drinking water in the laboratory;</li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li>walking barefooted;</li>
                  </ul>
                </div>
                <div class="list-numerals">(iii)</div>
                <div class="list-items">
                  <ul>
                    <li>washing hands with unknown liquid in a beaker.</li>
                  </ul><br>
                </div>                 
              </li>
            </ul>
          </div>
          <div class="major-questions-num">4.c</div>
          <div class="major-questions-items">
            <ul>
              <li>
                A child is found <strong>not</strong> to be able to see at night: <br>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                    <li>What deficiency disease may the child be suffering from?</li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li>What food nutrient is the child lacking?</li>
                  </ul>
                </div>
                <div class="list-numerals">(iii)</div>
                <div class="list-items">
                  <ul>
                    <li>
                        State <strong>three</strong> sources of food substances that can provide the nutrient that the child lacks.
                    </li>
                  </ul><br>
                </div>
              </li>
            </ul>
          </div>
          <div class="major-questions-num">4.d</div>
          <div class="major-questions-items">
              <ul>
                <li>
                  <div class="list-numerals">(i)</div>
                  <div class="list-items">
                    <ul>
                      <li>What is force?</li>
                    </ul>
                  </div>
                  <div class="list-numerals">(ii)</div>
                  <div class="list-items">
                    <ul>
                      <li>
                        Explain <strong>briefly</strong> why a driver could <strong>not</strong> stop a car on a slippery section of a
                        road when
                        he applied the brake.
                      </li>
                    </ul><br>
                  </div>
                </li>
              </ul>
          </div>

          <div class="major-questions-num">5.a</div>
          <div class="major-questions-items">
            <ul>
              <li>
                Describe <strong>briefly</strong> how the volume of an irregularly shaped lead ball could be measured.
              </li>
            </ul><br>
          </div>
          <div class="major-questions-num">5.b</div>
          <div class="major-questions-items">
            <ul>
              <li>State <strong>three</strong> characteristics of living things. </li>
            </ul><br>
          </div>
          <div class="major-questions-num">5.c</div>
          <div class="major-questions-items">
            <ul>
              <li>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                    <li>What is pollution?</li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li>Name <strong>one</strong> air pollutant.</li>
                  </ul><br>
                </div>
              </li>
            </ul>
          </div>
          <div class="major-questions-num">5.d</div>
          <div class="major-questions-items">
            <ul>
              <li>State <strong>three</strong> factors which influence vegetable crop production.</li>
            </ul><br>
          </div>

          <div class="major-questions-num">6.a</div>
          <div class="major-questions-items">
            <ul>
              <li>
                State <strong>three</strong> ways in which crop rotation is important in crop production.
              </li>
            </ul><br>
          </div>
          <div class="major-questions-num">6.b</div>
          <div class="major-questions-items">
            <ul>
              <li>State <strong>three</strong> properties of the image formed by a plane mirror. </li>
            </ul><br>
          </div>
          <div class="major-questions-num">6.c</div>
          <div class="major-questions-items">
            <ul>
              <li>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                    <li>What is photosynthesis?</li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li>Explain <strong>briefly</strong> why a digestive system is necessary in humans.</li>
                  </ul><br>
                </div>
              </li>
            </ul>
          </div>
          <div class="major-questions-num">6.d</div>
          <div class="major-questions-items">
            <ul>
              <li>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                    <li>
                      Give the systematic name of the following compounds:
                      <li> (&#945;) MgCl<sub>2</sub>;</li>
                      <li> (&#946;) FeS.</li>
                    </li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li>What is an element?</li>
                  </ul>
                </div>
                <div class="list-numerals">(iii)</div>
                <div class="list-items">
                  <ul>
                    <li>What is the name given to a solid mixture?</li>
                  </ul><br>
                </div>
              </li>
            </ul>
          </div>
          <!-- </div>  -->
        </div>
        <div>
          <p style="text-align: center;">END OF THE PAPER</p>
          <button class="btn-qs js--scroll-to-theory-solutions">Click here for SOLUTIONS </button>
        </div>
        <div class="theory-solutions">
          <div class="group">
            <h3>
              PART II <br>
              Section A <br>
              <hr>
            </h3>
          </div>
          <div class="major-questions-num">1.a</div>
          <div class="major-questions-items">
            <ul>
              <li>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                    <li>
                      To demonstrate the conditions necessary for rusting of iron nails.
                    </li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li>To remove oxygen content in the water.</li>
                  </ul>
                </div>
                <div class="list-numerals">(iii)</div>
                <div class="list-items">
                  <ul>
                    <li>The oil prevent oxygen from dissolving back into the boiled water.</li>
                  </ul>
                </div>
                <div class="list-numerals">(iv)</div>
                <div class="list-items">
                  <ul>
                    <li>To remove moisture in the text tube.</li>
                  </ul>
                </div>
                <div class="list-numerals">(v)</div>
                <div class="list-items">
                  <ul>
                    <li>Because of the presence of water and air in the test tube.</li>
                  </ul>
                </div>
                <div class="list-numerals">(vi)</div>
                <div class="list-items">
                  <ul>
                    <li> <strong>(&#945;)</strong> Because of the absence of oxygen.</li>
                    <li> <strong>(&#946;)</strong> Because of the absence of moisture.</li>
                  </ul>
                </div>
                <div class="list-numerals">(vii)</div>
                <div class="list-items">
                  <ul>
                    <li>
                      Oil forms a thin surface on the metal to prevent oxygen and moisture from coming into
                      contact with the metal
                    </li>
                  </ul><br>
                </div>
        
              </li>
            </ul>
          </div>
          <div class="major-questions-num">1.b</div>
          <div class="major-questions-items">
            <ul>
              <li>
              <div class="list-numerals">(i)</div>
              <div class="list-items">
                <ul>
                  <li>
                    To show that sunlight is necessary for photosynthesis or starch formation to occurs.
                  </li>
                </ul>
              </div>
              <div class="list-numerals">(ii)</div>
              <div class="list-items">
                <ul>
                  <li> (&#945;)To kill the living cells in the leaves.</li>
                  <li> (&#946;)To decolourize the leaves by removing chlorophyll.</li>
                  <li> (&#947;)To soften the leaves.</li>
                </ul>
              </div>
              <div class="list-numerals">(iii)</div>
              <div class="list-items">
                <ul>
                  <li>Blue-black</li>
                </ul>
              </div>
              <div class="list-numerals">(iv)</div>
              <div class="list-items">
                <ul>
                  <li>
                    Leaf <strong>A</strong> was in the sunlight and therefore photosynthesis occurred.
                  </li>
                </ul>
              </div>
              <div class="list-numerals">(v)</div>
              <div class="list-items">
                <ul>
                  <li>To serve as a control of the experiment.</li>
                </ul>
              </div>
              <div class="list-numerals">(vi)</div>
              <div class="list-items">
                <ul>
                  <li>The blue-black colour of leaf A indicates that starch is present.</li>
                </ul><br>
              </div>
              </li>
            </ul>
          </div>
          <div class="major-questions-num">1.c</div>
          <div class="major-questions-items">
            <ul>
              <li>
                <img src="/stylesheets/imgs/ultimatePascosoildrainagescience2019.PNG" alt="soil drainage image"> 
              </li><br>
              <li>- Equal volumes of soil samples <strong>A</strong> and <strong>B</strong> and water are measured using the beakers.</li>
              <li>- Soil sample <strong>A</strong> is poured on the filter paper in the funnel followed by  the measured water and the time taken for the water to drain into the measuring cylinder is measured using the stop watch.</li>
              <li>- Soil sample <strong>B</strong> and the same volume of water is poured into the filter paper and the time taken for the water to drain is recorded.</li>
              <li>- It was observed that soil sample <strong>A</strong> recorded more time to drain water than soil sample <strong>B</strong> which indicate that
              soil sample <strong>A</strong> can hold more water than soil sample <strong>B</strong>.</li>
            </ul><br>
          </div>
          <div class="major-questions-num">1.d</div>
          <div class="major-questions-items">
            <ul>
              <li>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                    <li>
                      To show that metals are good conductors of heat or to show that heat travels through metals.
                    </li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li>100 <sup>o</sup>C.</li>
                  </ul>
                </div>
                <div class="list-numerals">(iii)</div>
                <div class="list-items">
                  <ul>
                    <li>Pin <strong>1</strong> will fall off first followed by pin <strong>2</strong> and <strong>3</strong> in that order.</li>
                  </ul>
                </div>
                <div class="list-numerals">(iv)</div>
                <div class="list-items">
                  <ul>
                    <li>
                      <strong>A</strong> will have the highest temperature followed by <strong>B</strong> and <strong>C</strong> will have the lowest temperature.
                    </li>
                  </ul>
                </div>
                <div class="list-numerals">(v)</div>
                <div class="list-items">
                  <ul>
                    <li>
                      Heat from the sun is transmitted through empty space to the earth by radiation.
                    </li>
                  </ul><br>
                </div>
              </li>
            </ul>
          </div>
          <div class="group">
            <h3>
              PART II <br>
              Section B <br>
              <hr>
            </h3>
          </div>
          <div class="major-questions-num">2.a</div>
          <div class="major-questions-items">
            <div class="list-numerals">(i)</div>
            <div class="list-items">
              <ul>
                <li>
                  Food chain refers to the transfer of energy from one organism to another as they feed on each
                  other.
                </li>
              </ul>
            </div>
            <div class="list-numerals">(ii)</div>
            <div class="list-items">
              <ul>
                <li>Because they are the source of food or because they manufacture their own food.</li>
              </ul>
            </div>
            <div class="list-numerals">(iii)</div>
            <div class="list-items">
              <ul>
                <li>Consumers.</li>
              </ul><br>
            </div>
          </div>
          <div class="major-questions-num">2.b</div>
          <div class="major-questions-items">
            <ul>
              <li>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                    <li> (&#945;)Umbra</li>
                    <li> (&#946;)Penumbra</li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li>It illustrates that light travels in a straight line or it illustrates rectilinear propagation of light.</li>
                  </ul><br>
                </div>
        
              </li>
            </ul>
          </div>
          <div class="major-questions-num">2.c</div>
          <div class="major-questions-items">
            <ul>
              <li>
                Add water to the mixture to dissolve the sugar. Filter the mixture to obtain a filtrate of sugar
                solution using filter paper and evaporate it to obtain crystals of sugar.
              </li>
            </ul><br>
          </div>
          <div class="major-questions-num">2.d</div>
          <div class="major-questions-items">
            <ul>
              <li>- By practicing afforestation.</li>
              <li>- By avoiding soil detachment.</li>
              <li>- By slowing down the speed of run-off water or wind.</li>
            </ul><br>
          </div>
        
          <div class="major-questions-num">3.a</div>
          <div class="major-questions-items">
            <ul>
              <li>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                    <li>Potential energy.</li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li>
                    Potential energy = 100  2  10 = 2000 J or 2000 kgm<sup>2</sup>s<sup>-2</sup>.
                      </li>
                  </ul><br>
                </div>
              </li>
            </ul>
          </div>
          <div class="major-questions-num">3.b</div>
          <div class="major-questions-items">
            <ul>
              <li>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                    <li>Matter is anything that has mass and can occupy a space.</li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li>Solid and liquid or gas.</li>
                  </ul><br>
                </div>
              </li>
            </ul>
          </div>
          <div class="major-questions-num">3.c</div>
          <div class="major-questions-items">
            <ul>
              <li>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                    <li>
                      Loamy soil has good amount of air space, moderate water retaining and drainage ability.
                      It contains nutrients needed for  plant growth.
                    </li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li>Nitrogen and Potassium or phosphorus.</li>
                  </ul><br>
                </div>
              </li>
            </ul>
          </div>
          <div class="major-questions-num">3.d</div>
          <div class="major-questions-items">
            <ul>
              <li>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                     <li> (&#945;) Vibro cholera;</li>
                     <li> (&#946;) Bacteria.</li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li>- Good sanitation</li>
                    <li>- Cover food from flies.</li>
                    <li>- Purification of water before drinking or cooking.</li>
                  </ul><br>
                </div>
              </li>
            </ul>
          </div>
          <div class="major-questions-num">4.a</div>
          <div class="major-questions-items">
            <ul>
              <li>Too much fertilizer absorbs more water from the plant through root hairs by osmosis.</li>
            </ul><br>
          </div>
          <div class="major-questions-num">4.b</div>
          <div class="major-questions-items">
            <ul>
              <li>
               <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                    <li>- The water or food may come into contact with contaminated gloves or hands.</li>
                    <li>- Accidental ingestion of hazardous chemical;</li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li>- Broken glassware on the floor can cause injuries;</li>
                    <li>- Object with sharp edges can cause injuries.</li>
                  </ul>
                </div>
                <div class="list-numerals">(iii)</div>
                <div class="list-items">
                  <ul>
                    <li> Unknown liquids can be corrosive or toxic substances.</li>
                  </ul><br>
                </div>
              </li>
            </ul>
          </div>
          <div class="major-questions-num">4.c</div>
          <div class="major-questions-items">
            <ul>
              <li>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                    <li>Night blindness</li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li>Vitamins A</li>
                  </ul>
                </div>
                <div class="list-numerals">(iii)</div>
                <div class="list-items">
                  <ul>
                    <li>
                      Carrot, green leafy vegetables, palm oil etc.
                    </li>
                  </ul><br>
                </div>
              </li>
            </ul>
          </div>
          <div class="major-questions-num">4.d</div>
          <div class="major-questions-items">
            <ul>
              <li>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                    <li>
                      Force is a pull or push of an object from one place to another or a force is that which tends
                      to change the state of rest of an object in a straight line.
                    </li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li>
                      Friction is low on slippery surfaces.
                    </li>
                  </ul><br>
                </div>
              </li>
            </ul>
          </div>
          <div class="major-questions-num">5.a</div>
          <div class="major-questions-items">
            <ul>
              <li>
                - Half fill a measuring cylinder with water and record the initial volume of water as V<sub>1</sub>.
              </li>
              <li>
                - Tie a thread on the lead ball using solution tape.
              </li>
              <li>
                - Drop the ball into the measuring cylinder and record the final volume of water as V<sub>2</sub>.
              </li>
              <li>
                - The volume of the lead ball is calculated as: Volume of lead ball = V<sub>2</sub>  V<sub>1</sub>.
              </li>
            </ul><br>
          </div>
          <div class="major-questions-num">5.b</div>
          <div class="major-questions-items">
            <ul>
              <li>- Living things respire.</li>
              <li>- Living things excrete.</li>
              <li>- Living things give birth to young ones of their own kind.</li>
              <li>- Living things are sensitive to their surroundings.</li>
            </ul><br>
          </div>
          <div class="major-questions-num">5.c</div>
          <div class="major-questions-items">
            <ul>
              <li>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                    <li>
                      Pollution refers to release of harmful waste substances into the environment as a result of
                      human activities.
                    </li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li>- Smoke</li>
                    <li>- Sulphur dioxide</li>
                    <li>- Carbon monoxide</li>
                  </ul><br>
                </div>
              </li>
            </ul>
          </div>
          <div class="major-questions-num">5.d</div>
          <div class="major-questions-items">
            <ul>
              <li>- Climate factors.</li>
              <li>- Soil factors.</li>
              <li>- Topography of the land</li>
              <li>- Nearness of source of water to the farm.</li>
              <li>- Nearness to market.</li>
            </ul><br>
          </div>
        
          <div class="major-questions-num">6.a</div>
          <div class="major-questions-items">
            <ul>
              <li>- Crop rotation controls soil erosion.</li>
              <li>- Crop rotation controls pest and diseases.</li>
              <li>- It maintains soil fertility.</li>
              <li>- Weeds are controlled easily.</li>
            </ul><br>
          </div>
          <div class="major-questions-num">6.b</div>
          <div class="major-questions-items">
            <ul>
              <li>- Image is erect.</li>
              <li>- Image is virtual.</li>
              <li>- Image has the same size as the object.</li>
              <li>- Image is laterally inverted.</li>
            </ul><br>
          </div>
          <div class="major-questions-num">6.c</div>
          <div class="major-questions-items">
            <ul>
              <li>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                    <li>
                      Photosynthesis refers to the process whereby green plant manufacture their own food using
                      sunlight, carbon dioxide and water.
                    </li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li>
                      Digestive system is necessary for obtaining simple food nutrients needed by the body
                      from complex food substances.
                    </li>
                  </ul><br>
                </div>
              </li>
            </ul>
          </div>
          <div class="major-questions-num">6.d</div>
          <div class="major-questions-items">
            <ul>
              <li>
                <div class="list-numerals">(i)</div>
                <div class="list-items">
                  <ul>
                      <li> (&#945;) Magnesium chloride;</li>
                      <li> (&#946;) Iron(II)sulphide.</li>
                  </ul>
                </div>
                <div class="list-numerals">(ii)</div>
                <div class="list-items">
                  <ul>
                    <li>
                      An element is a simple chemical substance that consists of atoms of only one kind.
                    </li>
                  </ul>
                </div>
                <div class="list-numerals">(iii)</div>
                <div class="list-items">
                  <ul>
                    <li>Alloys.</li>
                  </ul><br>
                </div>
              </li>
            </ul>
          </div>
          <!-- </div>  -->
        </div>
      </div>
    </div>
  </div>
</section>

<% include ../partials/footer %>