<% include partials/header %>
        <div class="group">
            <div class="group">
                <div class="col span_1_of_2">
                    <p id="stopWatch"></p>
                </div>
                <div class="col span_1_of_2" id="score">
                    <p class="score"></p>
                </div>
            </div>
            <h3>B.E.C.E INTEGRATED SCIENCE <span class="year">1990</span> (Objectives)</h3>
        </div>
        <div class="quiz-sample js--wp-1">
            <div class="field">
            <p>1. Which of the following is a liquid? </p>
            <label id="A-1" class="A"><input  name="choices-1" type="radio" value="A">Iron</label><br>
            <label id="B-1" class="B"><input  name="choices-1" type="radio" value="B">Mercury</label><br>
            <label id="C-1" class="C"><input  name="choices-1" type="radio" value="C">Brass</label><br>
            <label id="D-1" class="D"><input  name="choices-1" type="radio" value="D">Gold</label><br>
            <label id="E-1" class="E"><input  name="choices-1" type="radio" value="E">Aluminium</label><br>
            <button  class="submit" id="submit-1" >Submit</button>
            </div>
            <div class="field">
            <p>2. The space occupied by matter is its </p>
            <label class="A" id="A-2"><input  name="choices-2" type="radio" value="A">area</label><br>
            <label class="B" id="B-2"><input  name="choices-2" type="radio" value="B">length</label><br>
            <label class="C" id="C-2"><input  name="choices-2" type="radio" value="C">radius</label><br>
            <label class="D" id="D-2"><input  name="choices-2" type="radio" value="D">width</label><br>
            <label id="E-2" class="E"><input  name="choices-2" type="radio" value="E">volume</label><br>
            <button class="submit" id="submit-2" >Submit</button> 
            </div>
            <div class="field">
            <p>3. Which of the following processes could be used to obtain water from a salt solution?</p>
            <label class="A" id="A-3"><input  name="choices-3" type="radio" value="A">Filtration</label><br>
            <label class="B" id="B-3"><input  name="choices-3" type="radio" value="B">Decantation</label><br>
            <label class="C" id="C-3"><input  name="choices-3" type="radio" value="C">Evaporation</label><br>
            <label class="D" id="D-3"><input  name="choices-3" type="radio" value="D">Distillation</label><br>
            <label id="E-3" class="E"><input  name="choices-3" type="radio" value="E">Sedimentation</label><br>
            <button class="submit" id="submit-3" >Submit</button>
            </div>
            <div class="field">
            <p>4. The portion of air which is used in burning is</p> 
            <label class="A" id="A-4"><input  name="choices-4" type="radio" value="A">nitrogen</label><br>
            <label class="B" id="B-4"><input  name="choices-4" type="radio" value="B">water vapour</label><br>
            <label class="C" id="C-4"><input  name="choices-4" type="radio" value="C">oxygen</label><br>
            <label class="D" id="D-4"><input  name="choices-4" type="radio" value="D">carbon dioxide</label><br>
            <label id="E-4" class="E"><input  name="choices-4" type="radio" value="E">inert gas</label><br>
            <button class="submit" id="submit-4" >Submit</button>   
            </div>
            <div class="field">
            <p>5. Brine is a saturated solution of</p> 
            <label class="A" id="A-5"><input  name="choices-5" type="radio" value="A">sodium chloride and carbon dioxide</label><br>
            <label class="B" id="B-5"><input  name="choices-5" type="radio" value="B">sodium chloride and water</label><br>
            <label class="C" id="C-5"><input  name="choices-5" type="radio" value="C">calcium carbonate and water</label><br>
            <label class="D" id="D-5">sodium chloride and water<input  name="choices-5" type="radio" value="D">calcium carbonate and kerosene</label><br>
            <label id="E-5" class="E"><input  name="choices-5" type="radio" value="E">magnesium and water</label><br>
            <button class="submit" id="submit-5" >Submit</button>
            </div>
        </div>
    </div>
    <!-- <div class="right-column">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt voluptatibus quas quaerat suscipit sapiente alias nulla sit illum et voluptatum, fuga architecto aliquam! Nulla nam voluptas dolore excepturi in? Dignissimos obcaecati temporibus provident voluptates sint. Delectus blanditiis fugit minima quia eius repellat doloremque provident ducimus itaque nesciunt tempore natus sequi, libero exercitationem voluptatem nemo est, incidunt 
    </div> -->
   </div>
</section>

<% include partials/footer %> 
