<% include partials/header %>
        <div class="group">
            <div class="group">
                <div class="col span_1_of_2">
                    <p id="stopWatch"></p>
                </div>
                <div class="col span_1_of_2" id="score">
                    <p class="score"></p>
                </div>
            </div>
            <h3>B.E.C.E English Language <span class="year">1990</span> (Objectives)</h3>
        </div>
        <div class="quiz-sample js--wp-1">
            <div class="field">
            <p>1. The digestion of carbohydrates starts in the </p>
            <label id="A-1" class="A"><input  name="choices-1" type="radio" value="A">mouth</label><br>
            <label id="B-1" class="B"><input  name="choices-1" type="radio" value="B">throat</label><br>
            <label id="C-1" class="C"><input  name="choices-1" type="radio" value="C">stomach</label><br>
            <label id="D-1" class="D"><input  name="choices-1" type="radio" value="D">duodenum</label><br>
            <label id="E-1" class="E"><input  name="choices-1" type="radio" value="E">ileum</label><br>
            <button  class="submit" id="submit-1" >Submit</button>
            </div>
            <div class="field">
            <p>2. Photosynthesis in plants requires chlorophyll, sunlight, water and </p>
            <label class="A" id="A-2"><input  name="choices-2" type="radio" value="A">oxygen</label><br>
            <label class="B" id="B-2"><input  name="choices-2" type="radio" value="B">carbon dioxide</label><br>
            <label class="C" id="C-2"><input  name="choices-2" type="radio" value="C">steam</label><br>
            <label class="D" id="D-2"><input  name="choices-2" type="radio" value="D">hydrogen</label><br>
            <label id="E-2" class="E"><input  name="choices-2" type="radio" value="E">nitrogen</label><br>
            <button class="submit" id="submit-2" >Submit</button> 
            </div>
            <div class="field">
            <p>3. Which of the following objects is a good conductor of heat?</p>
            <label class="A" id="A-3"><input  name="choices-3" type="radio" value="A">Wood</label><br>
            <label class="B" id="B-3"><input  name="choices-3" type="radio" value="B">Rubber</label><br>
            <label class="C" id="C-3"><input  name="choices-3" type="radio" value="C">Copper</label><br>
            <label class="D" id="D-3"><input  name="choices-3" type="radio" value="D">Plastic</label><br>
            <label id="E-3" class="E"><input  name="choices-3" type="radio" value="E">Wool</label><br>
            <button class="submit" id="submit-3" >Submit</button>
            </div>
            <div class="field">
            <p>4. What is the work done when a force of 2.5N moves through a distance of 4 m?</p> 
            <label class="A" id="A-4"><input  name="choices-4" type="radio" value="A">0.6J</label><br>
            <label class="B" id="B-4"><input  name="choices-4" type="radio" value="B">1.5J</label><br>
            <label class="C" id="C-4"><input  name="choices-4" type="radio" value="C">1.6J</label><br>
            <label class="D" id="D-4"><input  name="choices-4" type="radio" value="D">6.5J</label><br>
            <label id="E-4" class="E"><input  name="choices-4" type="radio" value="E">10.0J</label><br>
            <button class="submit" id="submit-4" >Submit</button>   
            </div>
            <div class="field">
            <p>5. The breaking down of complex food substances into simple soluble form for easy absorption by the cells of the body is called ...........</p> 
            <label class="A" id="A-5"><input  name="choices-5" type="radio" value="A">assimilation</label><br>
            <label class="B" id="B-5"><input  name="choices-5" type="radio" value="B">transpiration</label><br>
            <label class="C" id="C-5"><input  name="choices-5" type="radio" value="C">reproduction</label><br>
            <label class="D" id="D-5"><input  name="choices-5" type="radio" value="D">digestion</label><br>
            <label id="E-5" class="E"><input  name="choices-5" type="radio" value="E">respiration</label><br>
            <button class="submit" id="submit-5" >Submit</button>
            </div>
        </div>
    </div>
    <!-- <div class="right-column">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt voluptatibus quas quaerat suscipit sapiente alias nulla sit illum et voluptatum, fuga architecto aliquam! Nulla nam voluptas dolore excepturi in? Dignissimos obcaecati temporibus provident voluptates sint. Delectus blanditiis fugit minima quia eius repellat doloremque provident ducimus itaque nesciunt tempore natus sequi, libero exercitationem voluptatem nemo est, incidunt 
    </div> -->
   </div>
</section>

<% include partials/footer %> 
