/* ================================= */
/*----------- BASIC SETUP----------- */
/* ================================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #fff;
  color: #555;
  font-family: 'Roboto',"Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* ================================= */
/*--------RESUABLE COMPONENTS--------*/
/* ================================= */
.group {
  max-width: 1140px;
  margin: 0 auto;
}

/* BOOTSTRAP SECTION */
.div-centered{
  width: 45%;
  margin: 4% auto;
  margin-bottom: 10%;
}


.col-centered{
  width: 30%;
  margin: 70px auto;
}

.username-span{ color: #ff8800; }
.crt-user { display: none;}

.btn-primary{
  font-weight: 600;
  background-color: #666;
  border: 1px solid #666;
}

a.btn-success:link,
a.btn-success:visited{ color: #fff; }

.btn-primary:hover{
  background-color: #00aced;
  border: 1px solid #00aced;
}

.div-centered-showblog{
  width: 50%;
  margin: 4% auto;
  margin-bottom: 6%;
}

.row div h2{
  color: #555;
  text-align: center;
  text-transform: capitalize;
  padding-top: 40px;
  margin-top: 0;
}

.form-group textarea{ width: 100%; }

/* -------------float-left------------- */
.brand, .header-btn, 
.accordion-content li, 
.left-column, 
.middle-column{
  float: left;
}

section{ padding: 80px 0; }

ul{ 
  list-style: none; 
  margin-bottom: 0;
}

a:link,
a:visited{ 
  text-decoration: none; 
  color: #666;
}

a:hover,
a:active{ color: #fff; }

/*--------- BUTTONS---------- */
.btn-ctrl:link,
.btn-ctrl:visited{
  display: inline-block;
  padding: 10px 15px;
  font-size: 110%;
  width: 100%;
  text-align: center;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s ;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s ;
  -moz-transition: background-color 0.2s, border 0.2s, color 0.2s ;
  -ms-transition: background-color 0.2s, border 0.2s, color 0.2s ;
  -o-transition: background-color 0.2s, border 0.2s, color 0.2s ;
}

.btn-full:link,
.btn-full:visited{
  color: #fff;
  margin-right: 15px;

  background-color: #666;
  border: 1px solid #666;
}

.btn-full:hover,
.btn-full:active{ border: 1px solid #00aced; }

.btn-ctrl:hover,
.btn-ctrl:active{ 
  background-color: #00aced; 
  color: #fff;
}

/*--------- HEADINGS---------- */
h1, h2{
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

h1{
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 250%;
  word-spacing: 4px;
  font-weight: 100;
}

h2{
  font-weight: 300;
  font-size: 180%;
  word-spacing: 2px;
  margin-bottom: 30px;
}

.box{ padding: 1%; }

/* .section-subjects h2:after, */
.section-downloads h2:after,
.section-quiz h2:after,
.section-articles h2:after,
.section-forms h3:after, .row div h2:after{
  content: " ";
  display: block;
  height: 2px;
  background-color: #666;
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/* --------PARAGRAPH-------- */
.long-copy{ 
  line-height: 145%;
 }

/* ========================= */
/* ----------HEADER--------- */
/* ========================= */
header {
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("imgs/backgroundImage.jpg");
  background-image:  -moz-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("imgs/backgroundImage.jpg");
  background-image:  -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("imgs/backgroundImage.jpg");
  background-image:  -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("imgs/backgroundImage.jpg");
  background-image:  -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("imgs/backgroundImage.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.hero-text-box{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1140px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.hero-text-box h2{ color: #fff; }

a.brand{
  padding-top: 0;
  padding-left: 20px;
  color: #00aced;
  font-size: 100%;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
  -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -ms-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -o-transition: background-color 0.2s, color 0.2s, border 0.2s;
}
a.brand:hover { color: #fff;}

/* Main nav */
.main-nav{ float: right; }

nav { box-shadow: rgba(0, 0, 0, 0.56) 5px 8px 10px -5px;}

.active{
  color: #fff;
  border-bottom: 3px solid #fff;
  padding-bottom: 15px;
}

.main-nav li, .main-nav-blog li{
  display: inline-block;
  margin-left: 20px;
}

.main-nav li a:link,
.main-nav li a:visited,
.main-nav-blog li a:link,
.main-nav-blog li a:visited{
  padding-bottom: 18px;
  color: #fff; 
  font-size: 90%;
  font-weight: 400;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.2s;
  -webkit-transition: border-bottom 0.2s;
  -moz-transition: border-bottom 0.2s;
  -ms-transition: border-bottom 0.2s;
  -o-transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active,
.main-nav-blog li a:hover,
.main-nav-blog li a:active{
  color: #00aced;
  border-bottom: 3px solid #00aced;
}

.header-btn {
  width: 18%;
  margin: 5% 1%;
}

nav .group {
  max-width: 1140px;
  margin-top: 0;
  padding-top: 18px;
}

.nav-blog .group{ padding: 13px 10px 0 10px; }

.main-nav-blog{
  float: right; 
  margin-top: 1px;
}

.nav-blog{ 
  background-color: #111010e5;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

/* Mobile nav */
.mobile-nav-icon{
  float: right;
  margin-top: 8px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon i{
  font-size: 200%;
  color: #fff;
}


/* .brand {
    margin-top: 5px;
    padding-top: 0;
    font-size: 120%;
    margin-left: 6.5%;
  }
  
  .main-nav {margin-top: 10px;}
  .main-nav li a:link,
  .main-nav li a:visited{ 
    font-size: 100%;
  }

  .sticky .brand {
    padding-top: 0;
    margin-top: 0;
  }

  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited{
    color: #00aced;
    font-size: 100%;
  }

  .active{
    padding-bottom: 15px;
  } */

/* Sticky nav */
.sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.986);
  box-shadow: rgba(0, 0, 0, 0.56) 5px 8px 10px -5px;
  z-index: 9999;
}

.sticky .main-nav { margin-top: 0;}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
  color: #00aced;
  padding: 19px 0; 
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active{ 
  border-bottom: 3px solid #666; 
  color: #666;
}

.sticky .brand:hover{ color: #666;}


/* ========================= */
/* ----------SECTIONS--------- */
/* ========================= */
/* .section-subjects */
button.accordion {
  width: 80%;
  outline: none;
  border: 2px solid #666;
  background: none;
  color: #666;
  text-align: center;
  padding: 15px 10px;
  margin: 1.5% 0 1.5% 10%;
  font-size: 80%;
  cursor: pointer;
  font-weight: 550;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, border 0.2s, color 0.2s;
  -ms-transition: background-color 0.2s, border 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, border 0.2s, color 0.2s;
}

button.accordion:after {
  content: "\f067";
  font-family: FontAwesome;
  font-style: normal;
  font-size: 100%;
  float: right;
}

button.accordion.is-open::after{ content: "\f068"; }

button.accordion:hover, button.accordion.is-open{
  color: #fff;
  background-color: #00aced;
  border: 2px solid #00aced;
}

.accordion-content{
  margin: 5px auto;
  width: 80%;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  -webkit-transition: max-height 0.2s ease-in-out;
  -moz-transition: max-height 0.2s ease-in-out;
  -ms-transition: max-height 0.2s ease-in-out;
  -o-transition: max-height 0.2s ease-in-out;
}

.accordion-content li{
  margin: 2px 5px;
  padding: 2px;
  border: 2px solid #666;
  background-color: #fff;
  border-radius: 15px;
  width: 47.5%;
  text-align: center;
  font-weight: 500;
  font-size: 70%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
  -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -ms-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -o-transition: background-color 0.2s, color 0.2s, border 0.2s;
}


.accordion-content li a:link, 
.accordion-content li a:visited{
  color: #555;
  font-weight: 600;
}

.accordion-content li a:hover, 
.accordion-content li a:active{
  color: #fff;
}
.accordion-content li:hover {
  border: 2px solid #00aced;
  background-color: #00aced;
}


.section-subjects .btn-qs{
  text-align: center;
  background: none;
  outline: none;
  width: 40%;
  margin-left: 30%;
  font-size: 90%;
  font-weight: 500;
  padding: 10px;
  text-transform: uppercase;
  margin-bottom: 25px;
  border: 2px solid #666;
  border-radius: 20px;
  cursor: pointer;
  -webkit-border-radius:20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
  -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -ms-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -o-transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.section-subjects .btn-qs:hover{ 
  background-color: #00aced;
  font-size: 90%;
  font-weight: 600;
  border: 2px solid #00aced;
  color: #ffffff;
}

/* .accordion-content li a:hover, 
.accordion-content li a:active{ color: #0096AD; } */

/* ------QUIZ SAMPLE------- */
.section-quiz{
  background-color: #f8f8f8;
  background-position: center;
}

.container{ width: 100%; }

/* -------Left column-------- */
.left-column, .right-column{ width: 21%; }

.left-column { margin: 2% 3% 2% 1%;}
.right-column { margin: 2% 1% 2% 1%;}

/* -------Right column-------- */
.right-column{ float: right; }

/* -------Middle column-------- */
.middle-column{
  width: 50%;
  margin: 2% auto;
  padding: 25px 0 30px 0;
  background-color: #fff;
  box-shadow: 5px 6px 4px 3px #888;
}

.middle-column h3{
  margin-bottom: 15px;
  margin-top: 25px;
  padding: 0 10px;
  text-align: center;
  font-size: 120%;
  font-weight: 300;
  color: #696565;
  text-transform: uppercase;
}

.button-control{ padding: 10px 10px 10px 10px; }

.col.span_1_of_4{
  width: 22%;
  margin: 0 1.5%;
}

.button-control select{
  border: 1px solid #666;
  text-align: center;
  color: #666;
  padding: 8px 25px;
  outline: none;
  width: 100%;
}

.button-control select:hover{ 
  border: 1px solid #00aced;
  color: #00aced;
}

.col.span_1_of_4.control-items .btn-ctrl {padding: 5px 0;}

.quiz-sample{
  padding-top: 15px;
  padding-left: 20px;
  border-top: 1px solid #ccc;
  margin: 10px 0 10px 0;
  height: 550px;
  overflow-y: auto;
  color: #555555;
}

.quiz-sample label{
  padding: 0px;
  display: inline-block;
  padding-left: 13px;
  user-select: none;
  position: relative;
  line-height: normal;
  cursor: pointer;
  border:2px solid transparent;
  border-radius: 5px;
  margin: 0px 1px 1px 10px;
  width: 95%;
  font-size: 130%;
  word-wrap: break-word;
  font-weight: 100;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.quiz-sample label:hover{ border: 2px solid #00aced; }

.quiz-sample label input[type="radio"]{  margin: 0 18px; }

.field{ margin-bottom: 1.5%; }
.field p{ 
  padding-bottom: 0;
  padding-left: 10px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 130%;
 }


.field button{ margin: 10px 30px; }

.field button, .section-forms form button{
  padding: 5px 15px;
  font-size: 70%;
  font-weight: 600;
  color: #fff;
  background-color: #666;
  border: 1px solid #666;
  outline: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: background-color 0.2s, color 0.2s;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -ms-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
}

.field button:hover{ 
  background-color: #00aced;
  border: 1px solid #00aced;
 }

/* ============================ */
/* -------Section Article-------*/
/* ============================ */
.section-articles .box{ padding: 1%; }

.box img{
  height: auto;
  width: 100%;
}

.span_1_of_3:nth-child(3n+1) { 
	clear:both; 
	margin-left: 0;
  }
  
.col { 
  margin-bottom: 0;
  padding-bottom: 0;
}

.article-content{
  margin-top: 20px;
}

.article-content div a:link,
.article-content div a:visited{
  color: #555;
}

.article-content p a{
  color: #555;
}

.article-content p span{
  color: #666;
}

.article-content h3{
  margin: 0 auto;
  margin-bottom: 5px;
  font-size: 100%;
  color: #555;
  font-weight: 550;
}

/* ============================ */
/* -------Section Downloads-----*/
/* ============================ */
.section-downloads{ background-color: #f8f8f8; }

.section-downloads h2{
  font-size: 150%;
  font-weight: 300;
  margin-bottom: 10px;
}

.section-downloads h3{
  font-weight: 300;
  padding-bottom: 10px;
  padding-top: 0;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.section-downloads h3:after{
  content: " ";
  display: block;
  background-color: #807b7b;
  height: 2px;
  margin: 0 auto;
  margin-top: 10px;
}

.section-downloads h3:after{ width: 95%;}
#terminal-exams h3:after, #mock-exams h3:after {width: 75%;}  

.section-downloads button.accordion{
  margin: 0 5%;
  width: 90%;
  border: 3px solid #00aced;
  color: #00aced;
  margin-top: 10px;
}

.section-downloads button.accordion:hover{ 
  background-color: #666;
  color: #fff;
  border: 3px solid #666;  
}

.section-downloads .accordion-content li{
  width: 100%;
  margin: 1px auto;
}

.section-downloads .accordion-content{ margin-bottom: 5px; }

.syllabuses li a:link,
.syllabuses li a:visited,
.lesson-notes li a:link,
.lesson-notes li a:visited{
  color: #00aced;
  margin: 0 0  1%  8%;
  font-size: 90%;
}

.syllabuses li a:hover,
.syllabuses li a:active,
.lesson-notes li a:hover,
.lesson-notes li a:active{ color: #666; }

/* ============================ */
/* FOOTER*/
/* ============================ */
footer{
  background-color: #111010;
  padding: 50px 0 10px 0;
  font-size: 70%;
}

footer .col.span_1_of_3{ padding: 0 1%; }

footer h3{
  color: #fff;
  margin-bottom: 25px;
}

footer .fa{
  display: inline-block;
  color: #ddd;
  font-size: 160%;
  margin-right: 20px;
}

footer .col.span_1_of_3 p{ 
  color: #ddd;
  font-size: 170%;
  font-style: italic;
  margin-bottom: 20px;
 }

.footer-nav { width: 100%; }

.footer-nav li, .footer-social-links li{
  display: inline-block;
  margin: 10px 0;
}

.footer-nav li p{ text-align: center; }

.footer-nav li a:link,
.footer-nav li a:visited{
  text-decoration: none;
  border: none;
  color: #888;
}

.contact-number{ 
  color: #888;
  font-size: 120%;
}

.footer-nav li a:hover,
.footer-nav li a:active { 
  color: #ddd; 
  text-decoration: none;
}

/* .contact-number, .email{ 
    font-size: 130%;
    font-weight: 700;
  } */

#like-me{ padding-left: 30px; }

.fa-facebook,
.fa-twitter,
.fa-instagram{
  background-color: #333;
  transition: color 0.2s , background-color 0.2s, border 0.2s;
  -webkit-transition: color 0.2s , background-color 0.2s, border 0.2s;
  -moz-transition: color 0.2s , background-color 0.2s, border 0.2s;
  -ms-transition: color 0.2s , background-color 0.2s, border 0.2s;
  -o-transition: color 0.2s , background-color 0.2s, border 0.2s;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.fa-facebook {padding: 10px 15px;}

.fa-facebook:hover, 
.fa-twitter:hover, 
.fa-instagram:hover{background-color: #ddd; }

.fa-facebook:hover{ color: #3b5998; }

.fa-twitter:hover{ color: #00aced; }

.fa-instagram:hover{ color: #517fa4; }

.fa-phone:hover,.fa-envelope-o:hover{color: #ddd}

.news-letter {text-align: center;}

footer form .form-control{
  background-color: #353131;
  border: 1px solid #353131;
  color: #ddd;
}
footer form .form-control:hover {color:#fff;}

footer form input[type="submit"]{
  background-color: #00aced;
  border: 1px solid #00aced;
  color: #fff;
  font-size: 120%;
  font-weight: 600;
}

footer form .form-control::-webkit-input-placeholder { 
  color: #ddd;
  padding-left: 20px;
 }  /* WebKit, Blink, Edge */
footer form .form-control:-moz-placeholder { 
  color: #ddd;
  padding-left: 20px;
 }  /* Mozilla Firefox 4 to 18 */
footer form .form-control::-moz-placeholder { 
  color: #ddd;
  padding-left: 20px;
 }  /* Mozilla Firefox 19+ */
footer form .form-control:-ms-input-placeholder { 
  color: #ddd;
  padding-left: 20px;
 }  /* Internet Explorer 10-11 */
footer form .form-control::-ms-input-placeholder { 
  color: #ddd;
  padding-left: 20px;
 }  /* Microsoft Edge */

.footer-copy-right {
  width: 100%;
  font-size: 120%;
  text-align: center;
  margin: 5% 0;
  color: #888;
  transition: background-color 0.2s, color 0.2s;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -ms-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
}
.footer-copy-right:hover{ color: #ddd;}

/* SHOW BLOG SECTION */
#delete-form{ display: inline; }

.edit-blog { margin-bottom: 20px; }

/* Author*/
.author__photo, .author__title{ float: left; }

.popular-post{ 
  background-color: #f8f8f8; 
  padding: 40px 0;
}

.author__title{
  margin-left: 20px;
  font-style: italic;
}

.author__title--name{ margin-bottom: 0; }

.author__title--name a{ color: #333; }

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

.author__photo img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.thumbnail .img-responsive{
  width: 100%;
}

.thumbnail{
  padding: 0;
  margin: 5% 0 10% 0;
}

.description p{
  line-height: 145%;
  text-align: justify;
  margin-bottom: 0;
  font-size: 120%; 
}

.collapse .well { border-left: 5px solid #00aced; }
.collapse form input {
  border: none;
  background: none;
}

#click-here{
  color: #00aced;
  font-size: 100%;
}
.comment-section{
  width: 70%;
  margin: 5% 15%;
}

/* Nav brand */
#benkeyben{
  color: #fff;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
  -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -ms-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -o-transition: background-color 0.2s, color 0.2s, border 0.2s;
}
#benkeyben:hover{ color: #00aced;}

#forgot-pw { color: #00aced}


/* =========================== */
/* -----------ANIMATIONS------ */
/* =========================== */
.js--wp-1, .js--wp-2, .js--wp-3 { 
  opacity: 0;
  animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -webkit-animation-duration: 1s;

}

.js--wp-4 { 
  animation-duration: 1s; 
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -webkit-animation-duration: 1s;
}

.js--wp-1.animated, .js--wp-2.animated, .js--wp-3.animated { opacity: 1;}

