/*From big tablets to 1200(For width smaller than the 1140px row : From 1024px to 1200px*/

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 218%;
    margin-bottom: 7%;
  }
  .active {
    padding-bottom: 18px;
  }
  section {
    padding: 55px 0;
  }
  .section-quiz h2 {
    margin-bottom: 50px;
  }
  .main-nav {
    display: block;
  }
  .main-nav {
    margin-top: 10px;
  }
  .main-nav li a:link, .main-nav li a:visited {
    font-size: 90%;
  }
  .main-nav-blog {
    display: block;
    font-size: 100%;
    margin-right: 20px;
  }
  #benkeyben {
    margin-top: 0;
    padding: 2.5px 20px;
    font-size: 90%;
  }
  .crt-user {
    display: none;
    color: #ff8800;
    float: left;
    padding-left: 10px;
    padding-top: 8px;
  }
  .sticky .brand {
    padding-top: 0;
    margin-top: 0;
  }
  a.brand {
    padding-top: 9px;
  }
  .sticky .brand:hover {
    color: #666;
  }
  .sticky .main-nav li a:link, .sticky .main-nav li a:visited {
    color: #00aced;
    font-size: 100%;
  }
  .sticky .main-nav li a:hover, .sticky .main-nav li a:active {
    color: rgba(122, 120, 120, 0.746);
  }
  .group {
    padding: 0 2%;
  }
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }
  .btn-ctrl:link, .btn-ctrl:visited {
    padding: 10px 7px;
    font-size: 90%;
    font-weight: 300;
  }
  .field button, .section-forms form button {
    font-size: 65%;
    font-weight: 550;
  }
  button.accordion {
    margin: 1% 0 2.5% 1.5%;
    padding: 3% 11px;
    width: 97%;
    font-size: 85%;
  }
  .accordion-content li {
    width: 46%;
  }
  .accordion-content li a:link, .accordion-content li a:visited {
    font-size: 110%;
    font-weight: 600;
  }
  #btn-ict {
    font-size: 83%;
  }
  .col.span_1_of_2 {
    width: 48%;
    margin: 0 1%;
  }
  .section-subjects h2 {
    margin-bottom: 30px;
  }
  .section-subjects .btn-qs, .quiz-sample .btn-qs {
    width: 45%;
    margin: 10px 27.5% 55px 27.5%;
    font-size: 90%;
    font-weight: 500;
  }
  .left-column, .right-column {
    margin: 0 1.5% 0 0;
    width: 21%;
  }
  .middle-column {
    width: 70%;
    margin-left: 15%;
  }
  .middle-column h3 {
    font-size: 120%;
    text-align: center;
    font-weight: 500;
  }
  .col.span_1_of_4 {
    width: 22%;
    margin: 0 1.5%;
  }
  .button-control select {
    padding: 8px 13px;
    width: 100%;
    font-size: 90%;
  }
  .col.span_1_of_4.control-items .btn-ctrl:link, .col.span_1_of_4.control-items .btn-ctrl:visited {
    padding: 6px 0;
    font-size: 90%;
  }
  /* ;
  .quiz-sample {
    font-size: 130%;
  }
  .quiz-sample {
    font-size: 130%;
    padding-top: 0;
    padding-left: 20px;
  }
  .quiz-sample label {
    font-size: 90%;
  }
  .field p {
    margin-top: 10px;
    font-size: 95%;
  } */
  .quiz-sample {
    font-size: 130%;
    padding-top: 0;
  }
  .quiz-sample .btn-qs {
    width: 70%;
    margin-left: 15%;
  }
  .quiz-sample label {
    font-size: 110%;
    padding-left: 4%;
  }
  .quiz-sample label input[type="radio"] {
    margin: 1.80% 1% 0 0;
  }
  .field {
    margin-top: 15px;
  }
  .field button {
    margin: 0 7%;
  }
  .field p {
    font-size: 110%;
    padding-top: 0;
    margin-top: 0;
  }
  .field label span {
    padding-left: 3%;
  }
  .field .extra-info {
    padding-top: 0;
    margin-top: 0;
  }
  .theory-questions, .theory-solutions {
    font-size: 110%;
  }
  .theory-questions h3, .theory-solutions h3 {
    padding-top: 30px;
    font-size: 100%;
  }
  .theory-questions img, .theory-solutions img {
    padding: 10px 0 0 0;
  }
  .part_2 {
    width: 100%;
  }
  .major-questions-num {
    width: 10%;
  }
  .major-questions-items {
    width: 85%;
  }
  .major-questions-items li {
    padding-left: 0;
  }
  .major-questions-items .list-items li {
    padding-left: 7%;
    padding-bottom: 1%;
  }
  .list-numerals, .objective-question-num {
    width: 5%;
  }
  .objective-question {
    padding-left: 2%;
  }
  .list-items, .objective-question {
    width: 95%;
  }
  .list-items, .list-numerals, .objective-question, .major-questions-num, .major-questions-items, .objective-question-num {
    float: left;
  }
  .field .extra-info {
    padding-top: 0;
    margin-top: 0;
  }
  .article-content h3 {
    font-size: 110%;
  }
  .article-content p {
    text-align: justify;
  }
  .col.span_1_of_5.box {
    width: 30%;
    margin: 0 1.6% 1.6% 1.6%;
    padding-top: 0;
  }
  .section-downloads h2 {
    font-size: 160%;
    margin-bottom: 0;
  }
  .section-downloads h3 {
    text-align: center;
    font-size: 125%;
    font-weight: 500;
    margin-top: 0;
    padding: 2% 0;
    margin: 10px 0;
  }
  .section-downloads .col.span_1_of_5 {
    width: 31%;
    margin: 5% 1.5% 2% 1%;
    padding-left: 0;
    padding-right: 0;
  }
  #lesson-note {
    margin-right: 0;
  }
  #terminal-exams, #mock-exams {
    width: 45%;
    margin: 3% 7% 0 1.5%;
  }
  #terminal-exams h3, #mock-exams h3, #lesson-note h3 {
    margin-bottom: 0;
    margin-top: 0;
    padding: 12px 0;
    font-size: 150%;
    font-weight: 500;
  }
  #mock-exams {
    margin-right: 0;
    margin-left: 0;
  }
  .syllabuses li {
    margin: 0 0 1% 5%;
    font-size: 110%;
    text-align: left;
    font-weight: 600;
  }
  .syllabuses li a:link, .syllabuses li a:visited, .lesson-notes li a:link, .lesson-notes li a:visited {
    margin-left: 0;
  }
  .section-downloads button.accordion {
    padding: 5% 7%;
    font-size: 100%;
  }
  .section-downloads button.accordion {
    width: 85%;
    margin: 2.5% 7.5%;
    font-size: 100%;
    font-weight: 600;
    padding: 5% 3%;
  }
  #lesson-note button.accordion {
    width: 90%;
    margin: 2.9% 5%;
    padding: 5% 3%;
    font-size: 100%;
    font-weight: 600;
  }
  .section-downloads .accordion-content li {
    width: 85%;
    margin: 1% 6%;
  }
  .section-downloads h3:after, #terminal-exams h3:after, #mock-exams h3:after {
    width: 100%;
  }
  .div-centered {
    width: 60%;
    overflow-x: hidden;
  }
  .form-group textarea {
    width: 100%;
  }
  .div-centered-showblog {
    width: 60%;
  }
  .row div h2 {
    font-size: 170%;
  }
  /* Login and Sign in */
  .col-centered {
    width: 35%;
  }
  /* Footer Section */
  .news-letter {
    text-align: left;
  }
}

/*From small tablets to big tablett: From 930px to 1023px*/

@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  .active {
    padding-bottom: 18px;
  }
  .main-nav {
    display: block;
  }
  .main-nav {
    margin-top: 10px;
  }
  .main-nav li a:link, .main-nav li a:visited {
    font-size: 100%;
  }
  .main-nav-blog {
    display: block;
    font-size: 110%;
    margin-right: 20px;
  }
  #benkeyben {
    margin-top: 0;
    padding: 2.5px 20px;
    font-size: 90%;
  }
  .crt-user {
    display: none;
  }
  .sticky .brand {
    padding-top: 0;
    margin-top: 0;
  }
  a.brand {
    padding-top: 9px;
  }
  .sticky .brand:hover {
    color: #666;
  }
  .sticky .main-nav li a:link, .sticky .main-nav li a:visited {
    color: #00aced;
    font-size: 100%;
  }
  .sticky .main-nav li a:hover, .sticky .main-nav li a:active {
    color: #666;
  }
  section {
    padding: 50px 0;
  }
  .btn-ctrl:link, .btn-ctrl:visited {
    padding: 10px 6px;
    font-weight: 300;
    font-size: 100%;
  }
  button.accordion {
    margin: 0 0 0 1.5%;
    padding: 15px 11px;
    width: 97%;
    font-size: 85%;
  }
  .accordion-content li {
    width: 46%;
  }
  .accordion-content li a:link, .accordion-content li a:visited {
    font-size: 110%;
    font-weight: 600;
  }
  #btn-ict {
    font-size: 83%;
  }
  .col.span_1_of_2 {
    width: 48%;
    margin: 0 1%;
  }
  .section-subjects .btn-qs, .quiz-sample .btn-qs {
    width: 45%;
    margin: 0 27.5% 45px 27.5%;
    font-size: 90%;
    font-weight: 500;
  }
  .section-quiz h2 {
    margin-bottom: 30px;
  }
  .container {
    width: 100%;
    margin-top: 20px;
  }
  .left-column, .right-column {
    margin: 0 1.5% 0 0;
    width: 21%;
  }
  .middle-column {
    width: 75%;
    margin-left: 12.5%;
  }
  .middle-column h3 {
    font-size: 140%;
    text-align: center;
    font-weight: 500;
  }
  .col.span_1_of_4 {
    width: 22%;
    margin: 0 1.5%;
  }
  select {
    padding: 8px 15px;
    width: 100%;
    text-align: center;
  }
  .col.span_1_of_4.control-items .btn-ctrl:link, .col.span_1_of_4.control-items .btn-ctrl:visited {
    padding: 5px 0;
    font-size: 100%;
  }
  /* ;
  .quiz-sample {
    font-size: 130%;
    padding-top: 0;
    padding-left: 20px;
  }
  .quiz-sample label {
    font-size: 110%;
  }
  .field p {
    margin-top: 10px;
    font-size: 110%;
  } */
  .quiz-sample {
    font-size: 130%;
    padding-top: 0;
  }
  .quiz-sample .btn-qs {
    width: 70%;
    margin-left: 15%;
  }
  .quiz-sample label {
    font-size: 110%;
    padding-left: 4%;
  }
  .quiz-sample label input[type="radio"] {
    margin: 1.80% 1% 0 0;
  }
  .field {
    margin-top: 15px;
  }
  .field button {
    margin: 0 7%;
  }
  .field p {
    font-size: 110%;
    padding-top: 0;
    margin-top: 0;
  }
  .field label span {
    padding-left: 3%;
  }
  .field .extra-info {
    padding-top: 0;
    margin-top: 0;
  }
  .theory-questions, .theory-solutions {
    font-size: 110%;
  }
  .theory-questions h3, .theory-solutions h3 {
    padding-top: 30px;
    font-size: 100%;
  }
  .theory-questions img, .theory-solutions img {
    padding: 10px 0 0 0;
  }
  .part_2 {
    width: 100%;
  }
  .major-questions-num {
    width: 10%;
  }
  .major-questions-items {
    width: 85%;
  }
  .major-questions-items li {
    padding-left: 0;
  }
  .major-questions-items .list-items li {
    padding-left: 7%;
    padding-bottom: 1%;
  }
  .list-numerals, .objective-question-num {
    width: 5%;
  }
  .objective-question {
    padding-left: 2%;
  }
  .list-items, .objective-question {
    width: 95%;
  }
  .list-items, .list-numerals, .objective-question, .major-questions-num, .major-questions-items, .objective-question-num {
    float: left;
  }
  .field .extra-info {
    padding-top: 0;
    margin-top: 0;
  }
  .article-content h3 {
    font-size: 110%;
  }
  .col.span_1_of_5.box {
    width: 30%;
    margin: 0 1.6% 1.6% 1.6%;
    padding-top: 0;
  }
  .section-downloads h2 {
    font-size: 160%;
    margin-bottom: 0;
  }
  .section-downloads h3 {
    text-align: center;
    font-size: 125%;
    font-weight: 500;
    margin-top: 0;
    padding: 2% 0;
    margin: 10px 0;
  }
  .section-downloads .col.span_1_of_5 {
    width: 31%;
    margin: 5% 1.5% 2% 1%;
    padding-left: 0;
    padding-right: 0;
  }
  #lesson-note {
    margin-right: 0;
  }
  #terminal-exams, #mock-exams {
    width: 45%;
    margin: 3% 7% 0 1.5%;
  }
  #terminal-exams h3, #mock-exams h3, #lesson-note h3 {
    margin-bottom: 0;
    margin-top: 0;
    padding: 12px 0;
    font-size: 150%;
    font-weight: 500;
  }
  #mock-exams {
    margin-right: 0;
    margin-left: 0;
  }
  .syllabuses li {
    margin: 0 0 1% 5%;
    font-size: 110%;
    text-align: left;
    font-weight: 600;
  }
  .syllabuses li a:link, .syllabuses li a:visited, .lesson-notes li a:link, .lesson-notes li a:visited {
    margin-left: 0;
  }
  .section-downloads button.accordion {
    padding: 5% 7%;
    font-size: 100%;
  }
  .section-downloads button.accordion {
    width: 85%;
    margin: 2.5% 7.5%;
    font-size: 100%;
    font-weight: 600;
    padding: 5% 3%;
  }
  #lesson-note button.accordion {
    width: 90%;
    margin: 2.5% 5%;
    padding: 5% 3%;
    font-size: 100%;
    font-weight: 600;
  }
  .section-downloads .accordion-content li {
    width: 85%;
    margin: 1% 6%;
  }
  .section-downloads h3:after, #terminal-exams h3:after, #mock-exams h3:after {
    width: 100%;
  }
  .accordion-content li a:hover, .accordion-content li a:active {
    color: #fff;
  }
  .section-forms form {
    width: 40%;
  }
  .section-forms form h3 {
    font-size: 150%;
    margin-top: 0;
  }
  .div-centered {
    width: 60%;
    overflow-x: hidden;
  }
  .form-group textarea {
    width: 100%;
  }
  .div-centered-showblog {
    width: 65%;
  }
  .row div h2 {
    font-size: 170%;
  }
  /* Login and Sign in */
  .col-centered {
    width: 35%;
  }
  .comment-section {
    width: 80%;
    margin: 7% 10%;
  }
  /* Footer Section */
  .news-letter {
    text-align: left;
  }
  .footer-nav, .footer-social-links {
    width: 100%;
    margin-left: 15%;
  }
  .footer-social-links {
    margin-left: 20%;
  }
}

/*From small tablets to big tablett: From 768px to 927px*/

@media only screen and (max-width: 927px) {
  body {
    font-size: 18px;
  }
  /* Main-nav and Main-nav-blog Mobile nav icon */
  .active {
    padding-bottom: 18px;
  }
  .main-nav-blog {
    display: block;
    font-size: 110%;
    margin-right: 20px;
  }
  #benkeyben {
    margin-top: 0;
    padding: 2.5px 20px;
    font-size: 90%;
  }
  .crt-user {
    display: none;
  }
  .main-nav li, .main-nav-blog li {
    margin-right: 20px;
  }
  .sticky .brand {
    padding-top: 0;
    margin-top: 0;
  }
  a.brand {
    padding-top: 9px;
  }
  .sticky .brand:hover {
    color: #666;
  }
  .sticky .main-nav li a:link, .sticky .main-nav li a:visited {
    color: #00aced;
    font-size: 100%;
  }
  .sticky .main-nav li a:hover, .sticky .main-nav li a:active {
    color: #666;
  }
  .btn-ctrl:link, .btn-ctrl:visited {
    padding: 10px 6px;
    font-weight: 550;
    font-size: 80%;
  }
  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }
  .col:first-child {
    margin-left: 1.5%;
  }
  .col.span_1_of_2 {
    width: 50%;
    margin: 0;
  }
  .section-subjects .btn-qs, .quiz-sample .btn-qs {
    width: 55%;
    margin: 0 22.5% 45px 22.5%;
    font-size: 100%;
    font-weight: 400;
  }
  button.accordion {
    margin: 0 2.5%;
    padding: 15px 11px;
    width: 95%;
    font-size: 85%;
  }
  #btn-ict {
    font-size: 68%;
    text-align: center;
    font-weight: 700;
    padding: 17px 11px;
  }
  .section-quiz h2 {
    margin-bottom: 30px;
  }
  .left-column, .right-column, .middle-column {
    width: 90%;
  }
  .left-column {
    margin: 0 0 5% 5%;
  }
  .right-column {
    margin: 7% 0 7% 5%;
  }
  .middle-column {
    margin: 2% auto;
    margin-left: 5%;
  }
  .middle-column h3 {
    font-size: 140%;
    text-align: center;
    font-weight: 500;
  }
  .col.span_1_of_4.control-items select {
    padding: 8px 30px;
    width: 100%;
    text-align: center;
  }
  .col.span_1_of_4 {
    width: 22%;
    margin: 0 1.4% 0 1.4%;
  }
  .col.span_1_of_4.control-items .btn-ctrl {
    padding: 6px 0;
    font-size: 100%;
  }
  .quiz-sample {
    font-size: 120%;
    padding-top: 0;
  }
  .quiz-sample .btn-qs {
    width: 70%;
    margin-left: 15%;
  }
  .quiz-sample label {
    font-size: 110%;
    padding-left: 4%;
  }
  .quiz-sample label input[type="radio"] {
    margin: 1.80% 1% 0 0;
  }
  .field {
    margin-top: 15px;
  }
  .field button {
    margin: 0 7%;
  }
  .field p {
    font-size: 110%;
    padding-top: 0;
    margin-top: 0;
  }
  .field label span {
    padding-left: 3%;
  }
  .field .extra-info {
    padding-top: 0;
    margin-top: 0;
  }
  .theory-questions, .theory-solutions {
    font-size: 110%;
  }
  .theory-questions h3, .theory-solutions h3 {
    padding-top: 30px;
    font-size: 100%;
  }
  .theory-questions img, .theory-solutions img {
    padding: 10px 0 0 0;
  }
  .part_2 {
    width: 100%;
  }
  .major-questions-num {
    width: 10%;
  }
  .major-questions-items {
    width: 85%;
  }
  .major-questions-items li {
    padding-left: 0;
  }
  .major-questions-items .list-items li {
    padding-left: 7%;
    padding-bottom: 1%;
  }
  .list-numerals, .objective-question-num {
    width: 5%;
  }
  .objective-question {
    padding-left: 2%;
  }
  .list-items, .objective-question {
    width: 95%;
  }
  .list-items, .list-numerals, .objective-question, .major-questions-num, .major-questions-items, .objective-question-num {
    float: left;
  }
  .field .extra-info {
    padding-top: 0;
    margin-top: 0;
  }
  .box img {
    height: auto;
    width: 100%;
  }
  .col.span_1_of_3 {
    width: 32%;
    margin: 0 0 0 1%;
  }
  .article-content h3 {
    font-size: 150%;
    text-align: left;
  }
  .article-content p {
    text-align: left;
  }
  .section-downloads h2 {
    font-size: 160%;
    margin-bottom: 0;
  }
  .section-downloads h3 {
    text-align: center;
    font-size: 125%;
    font-weight: 500;
    margin-top: 0;
    padding: 2% 0;
    margin: 10px 0;
  }
  .section-downloads .col.span_1_of_5 {
    width: 31%;
    margin: 5% 1.5% 2% 1%;
    padding-left: 0;
    padding-right: 0;
  }
  #lesson-note {
    margin-right: 0;
  }
  #terminal-exams, #mock-exams {
    width: 45%;
    margin: 3% 7% 0 1.5%;
  }
  #terminal-exams h3, #mock-exams h3, #lesson-note h3 {
    margin-bottom: 0;
    margin-top: 0;
    padding: 12px 0;
    font-size: 150%;
    font-weight: 500;
  }
  #mock-exams {
    margin-right: 0;
    margin-left: 0;
  }
  .syllabuses li {
    margin: 0 0 1% 5%;
    font-size: 110%;
    text-align: left;
    font-weight: 600;
  }
  .syllabuses li a:link, .syllabuses li a:visited, .lesson-notes li a:link, .lesson-notes li a:visited {
    margin-left: 0;
  }
  .section-downloads button.accordion {
    padding: 5% 7%;
    font-size: 100%;
  }
  .section-downloads button.accordion {
    width: 85%;
    margin: 2.5% 7.5%;
    font-size: 100%;
    font-weight: 600;
    padding: 5% 3%;
  }
  #lesson-note button.accordion {
    width: 90%;
    margin: 2.5% 5%;
    padding: 5% 3%;
    font-size: 100%;
    font-weight: 600;
  }
  .section-downloads .accordion-content li {
    width: 85%;
    margin: 1% 6%;
  }
  .section-downloads h3:after, #terminal-exams h3:after, #mock-exams h3:after {
    width: 100%;
  }
  .accordion-content li a:hover, .accordion-content li a:active {
    color: #fff;
  }
  .div-centered {
    width: 60%;
    overflow-x: hidden;
  }
  .form-group textarea {
    width: 100%;
  }
  .div-centered-showblog {
    width: 65%;
  }
  .row div h2 {
    font-size: 170%;
  }
  /* Login and Sign in */
  .col-centered {
    width: 50%;
  }
  .comment-section {
    width: 90%;
    margin: 7% 5%;
  }
  /* Footer Section */
  .news-letter {
    text-align: left;
  }
  .footer-nav, .footer-social-links {
    width: 100%;
    margin-left: 0;
  }
  .footer-social-links {
    margin-left: 13%;
  }
}

/* Small phones to small tablet: From 625px to 767*/

@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  h1 {
    margin-bottom: 20px;
  }
  nav {
    padding-bottom: 20px;
  }
  /* Main-nav and Main-nav-blog Mobile nav icon */
  .main-nav, .main-nav-blog {
    display: none;
  }
  #benkeyben {
    margin-top: 0;
    padding: 5px 20px;
    font-size: 100%;
  }
  .crt-user {
    display: block;
    margin-right: 100px;
  }
  .brand--crt--user {
    float: left;
  }
  .mobile-nav-icon {
    display: inline-block;
    margin-top: 0;
    padding: 0;
  }
  .main-nav, .main-nav-blog {
    float: left;
    margin: 0 15px 15px 15px;
    margin-left: 0;
  }
  .main-nav li a:link, .main-nav li a:visited, .main-nav-blog li a:link, .main-nav-blog li a:visited {
    display: block;
    padding: 3px 0;
    border: 0;
    text-align: center;
    font-size: 120%;
    margin-right: 10px;
    margin-left: 10px;
  }
  .main-nav li, .main-nav-blog li {
    width: 100%;
    display: block;
    border-top: 1px solid #666;
    background-color: rgba(15, 14, 14, 0.4);
  }
  .main-nav li:last-child, .main-nav-blog li:last-child {
    border-top: 1px solid #666;
    background-color: rgba(15, 14, 14, 0.4);
  }
  .main-nav li a:hover, .main-nav li a:active, .main-nav-blog li a:hover, .main-nav-blog li a:active {
    color: #fff;
  }
  .active {
    border: 0;
    padding-bottom: 0;
    background-color: #666;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s;
    -moz-transition: background-color 0.2s, color 0.2s, border 0.2s;
    -ms-transition: background-color 0.2s, color 0.2s, border 0.2s;
    -o-transition: background-color 0.2s, color 0.2s, border 0.2s;
  }
  .sticky .brand {
    margin-top: 2px;
    padding-left: 20px;
    padding-top: 2px;
    font-size: 120%;
    color: #00aced;
  }
  a.brand {
    padding-top: 7px;
    margin-right: 20px;
  }
  .sticky .brand:hover {
    color: #666;
  }
  .sticky .active {
    padding-bottom: 0;
  }
  .sticky .main-nav li a:link, .sticky .main-nav li a:visited {
    color: #fff;
    padding: 5px 0;
  }
  .sticky .main-nav li a:hover, .sticky .main-nav li a:active {
    border-bottom: none;
  }
  .sticky .mobile-nav-icon {
    margin-top: 0;
  }
  .sticky .mobile-nav-icon i {
    color: #00aced;
  }
  section {
    padding: 30px 0;
  }
  .btn-ctrl:link, .btn-ctrl:visited {
    font-size: 100%;
    font-weight: 600;
  }
  .header-btn {
    width: 31%;
    margin: 3% 1.1%;
  }
  #mock {
    float: right;
  }
  #mock .btn-full, #exams .btn-full {
    background: none;
    color: #fff;
  }
  #mock .btn-full:hover, #exams .btn-full:hover {
    background-color: #666;
    color: #fff;
    border: 1px solid #666;
  }
  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }
  .col:first-child {
    margin-left: 1.5%;
  }
  button.accordion, #btn-ict {
    margin: 0;
    padding: 15px 11px;
    width: 100%;
    font-weight: 700;
    font-size: 100%;
    letter-spacing: 2px;
  }
  .col.span_1_of_2 {
    width: 80%;
    margin: 0 10%;
  }
  .section-subjects h2 {
    margin: 20px auto;
  }
  .section-subjects .btn-qs, .quiz-sample .btn-qs {
    width: 60%;
    margin: 0 20% 25px 20%;
    font-size: 90%;
    font-weight: 600;
  }
  .section-quiz h2 {
    margin-bottom: 20px;
  }
  .left-column, .right-column, .middle-column {
    width: 97%;
  }
  .right-column {
    margin: 7% auto;
  }
  .left-column {
    margin: 0 0 7% 1.5%;
  }
  .middle-column {
    margin: 0 auto;
    margin-left: 1.5%;
  }
  .middle-column h3 {
    font-size: 140%;
    text-align: center;
    font-weight: 500;
  }
  .col.span_1_of_4.control-items select {
    padding: 8px 25px;
    width: 100%;
    text-align: center;
  }
  .col.span_1_of_4 {
    width: 22%;
    margin: 0 1.4% 0 1.4%;
  }
  .col.span_1_of_4.control-items .btn-ctrl:link, .col.span_1_of_4.control-items .btn-ctrl:visited {
    padding: 6px 0;
    font-size: 100%;
  }
  .middle-column .col.span_1_of_2 {
    width: 45%;
    margin: 3% 0 0 0;
    text-align: center;
  }
  .middle-column .col.span_1_of_2#score {
    margin-left: 10%;
  }

  .field .extra-info {
    padding-top: 0;
    margin-top: 0;
  }
  .quiz-sample {
    font-size: 120%;
    padding-top: 0;
  }
  .quiz-sample .btn-qs {
    width: 70%;
    margin-left: 15%;
  }
  .quiz-sample label {
    font-size: 110%;
    padding-left: 4%;
  }
  .quiz-sample label input[type="radio"] {
    margin: 1.80% 1% 0 0;
  }
  .field {
    margin-top: 15px;
  }
  .field button {
    margin: 0 7%;
  }
  .field p {
    font-size: 110%;
    padding-top: 0;
    margin-top: 0;
  }
  .field label span {
    padding-left: 3%;
  }
  .field .extra-info {
    padding-top: 0;
    margin-top: 0;
  }
  .theory-questions, .theory-solutions {
    font-size: 110%;
  }
  .theory-questions h3, .theory-solutions h3 {
    padding-top: 30px;
    font-size: 100%;
  }
  .theory-questions img, .theory-solutions img {
    padding: 10px 0 0 0;
  }
  .part_2 {
    width: 100%;
  }
  .major-questions-num {
    width: 10%;
  }
  .major-questions-items {
    width: 85%;
  }
  .major-questions-items li {
    padding-left: 0;
  }
  .major-questions-items .list-items li {
    padding-left: 7%;
    padding-bottom: 1%;
  }
  .list-numerals, .objective-question-num {
    width: 5%;
  }
  .objective-question {
    padding-left: 2%;
  }
  .list-items, .objective-question {
    width: 95%;
  }
  .list-items, .list-numerals, .objective-question, .major-questions-num, .major-questions-items, .objective-question-num {
    float: left;
  }
  .box img {
    height: auto;
    width: 100%;
  }
  .col.span_1_of_3 {
    width: 32%;
    margin: 0 0 3% 1%;
  }
  .article-content h3 {
    font-size: 150%;
    text-align: left;
  }
  .article-content p {
    text-align: left;
  }
  .group.button-control {
    margin-right: 0;
  }
  .section-downloads h2 {
    font-size: 160%;
    margin-bottom: 0;
  }
  .section-downloads h3 {
    text-align: center;
    font-size: 125%;
    font-weight: 500;
    margin-top: 0;
    padding: 2% 0;
    margin: 10px 0;
  }
  .section-downloads .col.span_1_of_5 {
    width: 31%;
    margin: 5% 1.5% 2% 1%;
    padding-left: 0;
    padding-right: 0;
  }
  #lesson-note {
    margin-right: 0;
  }
  #terminal-exams, #mock-exams {
    width: 45%;
    margin: 3% 7% 0 1.5%;
  }
  #terminal-exams h3, #mock-exams h3, #lesson-note h3 {
    margin-bottom: 0;
    margin-top: 0;
    padding: 12px 0;
    font-size: 150%;
    font-weight: 500;
  }
  #mock-exams {
    margin-right: 0;
    margin-left: 0;
  }
  .syllabuses li {
    margin: 0 0 1% 5%;
    font-size: 110%;
    text-align: left;
  }
  .syllabuses li a:link, .syllabuses li a:visited, .lesson-notes li a:link, .lesson-notes li a:visited {
    margin-left: 0;
  }
  .section-downloads button.accordion {
    padding: 5% 7%;
    font-size: 100%;
  }
  .section-downloads button.accordion {
    width: 90%;
    margin: 2.5% 5%;
    font-weight: 600;
    padding: 7% 3%;
  }
  #lesson-note button.accordion {
    width: 95%;
    margin: 5% 2.5%;
    padding: 7% 3%;
    font-size: 90%;
  }
  .section-downloads .accordion-content li {
    width: 85%;
    margin: 1% 6%;
  }
  .section-downloads h3:after, #terminal-exams h3:after, #mock-exams h3:after {
    width: 100%;
  }
  .accordion-content li a:hover, .accordion-content li a:active {
    color: #fff;
  }
  .div-centered-showblog {
    width: 65%;
    margin-top: 40px;
  }
  .popular-post .group h2 {
    padding-top: 10px;
  }
  .row div h2 {
    font-size: 170%;
  }
  /* Login and Sign in */
  .col-centered {
    width: 50%;
  }
  .comment-section {
    width: 90%;
    margin: 7% 5%;
  }
  /* Footer Section */
  .news-letter {
    text-align: left;
  }
  footer .fa {
    margin-right: 15px;
  }
  footer h3 {
    font-size: 170%;
  }
  .footer-nav, .footer-social-links {
    margin-left: 10%;
    width: 100%;
  }
}

/* Small phones to small tablet: From 481px to 624*/

@media only screen and (max-width: 624px) {
  body {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
  }
  nav {
    padding-bottom: 20px;
  }
  .btn-ctrl:link, .btn-ctrl:visited {
    font-size: 90%;
    padding: 10px 6px;
    font-weight: 700;
  }
  /* Main-nav and Main-nav-blog Mobile nav icon */
  .main-nav, .main-nav-blog {
    display: none;
  }
  #benkeyben {
    margin-top: 2px;
    padding: 5px 10px;
    font-size: 100%;
  }
  .crt-user {
    display: block;
  }
  .brand--crt--user {
    float: left;
  }
  .mobile-nav-icon {
    display: inline-block;
    margin-top: 0;
  }
  .main-nav, .main-nav-blog {
    float: left;
    margin: 0;
  }
  .main-nav li, .main-nav-blog li {
    width: 100%;
    display: block;
    border-top: 1px solid #666;
    background-color: rgba(15, 14, 14, 0.4);
  }
  .main-nav li:last-child, .main-nav-blog li:last-child {
    border-top: 1px solid #666;
    background-color: rgba(15, 14, 14, 0.4);
  }
  .main-nav li a:link, .main-nav li a:visited, .main-nav-blog li a:link, .main-nav-blog li a:visited {
    display: block;
    padding: 5px 0;
    border: 0;
    text-align: center;
    font-size: 120%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .main-nav li a:hover, .main-nav li a:active, .main-nav-blog li a:hover, .main-nav-blog li a:active {
    color: #fff;
  }
  .active {
    border: 0;
    padding-bottom: 0;
    background-color: #666;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s;
    -moz-transition: background-color 0.2s, color 0.2s, border 0.2s;
    -ms-transition: background-color 0.2s, color 0.2s, border 0.2s;
    -o-transition: background-color 0.2s, color 0.2s, border 0.2s;
  }
  /* Sticky nav */
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.986);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
  }
  .sticky .main-nav li a:link, .sticky .main-nav li a:visited {
    color: #fff;
    padding: 5px 0;
  }
  .sticky .main-nav li a:hover, .sticky .main-nav li a:active {
    border-bottom: none;
  }
  .sticky .mobile-nav-icon {
    margin-top: 0;
  }
  .sticky .mobile-nav-icon i {
    color: #00aced;
  }
  .sticky .brand {
    margin-top: 2px;
    padding-left: 20px;
    padding-top: 4px;
    font-size: 120%;
    color: #00aced;
  }
  a.brand {
    padding-top: 7px;
    margin-right: 120px;
  }
  .sticky .brand:hover {
    color: #666;
  }
  .sticky .active {
    padding-bottom: 0;
  }
  h1 {
    text-align: center;
    font-size: 180%;
    padding-left: 3%;
  }
  h2 {
    font-size: 160%;
  }
  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }
  .col:first-child {
    margin-left: 1.5%;
  }
  .col.span_1_of_2 {
    width: 97%;
    margin: 0 1.5%;
  }
  .hero-text-box {
    padding: 0 4%;
  }
  .group {
    padding: 0 2%;
  }
  #mock {
    float: right;
  }
  #mock .btn-full, #exams .btn-full {
    background: none;
    color: #fff;
  }
  #mock .btn-full:hover, #exams .btn-full:hover {
    background-color: #666;
  }
  .section-subjects h2 {
    margin: 20px auto;
  }
  .section-subjects .btn-qs, .quiz-sample .btn-qs {
    width: 70%;
    margin: 0 15% 25px 15%;
    font-size: 100%;
    font-weight: 540;
  }
  button.accordion, #btn-ict {
    margin: 0;
    padding: 15px 11px;
    width: 100%;
    font-weight: 700;
    font-size: 95%;
    letter-spacing: 2px;
  }
  .accordion-content li {
    width: 35%;
    margin-left: 9%;
  }
  .accordion-content li a:link, .accordion-content li a:visited {
    color: #555;
    font-size: 120%;
    font-weight: 700;
  }
  .accordion-content li a:hover, .accordion-content li a:active {
    color: #0096AD;
  }
  .main-nav li a:link, .main-nav li a:visited, .main-nav-blog li a:link, .main-nav-blog li a:visited {
    display: block;
    padding: 5px 0;
    border: 0;
    text-align: center;
    font-size: 120%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .section-quiz h2 {
    margin-bottom: 20px;
  }
  .left-column, .right-column, .middle-column {
    width: 100%;
  }
  .left-column {
    margin: 0 0 7% 0;
  }
  .right-column {
    margin: 7% auto;
  }
  .middle-column {
    margin: 2% auto;
  }
  .middle-column h3 {
    margin-top: 0;
    font-size: 150%;
    text-align: center;
    font-weight: 500;
  }
  .col.span_1_of_4.control-items select {
    padding: 8px 10px;
    width: 100%;
  }
  .col.span_1_of_4 {
    width: 22%;
    margin: 0 1.4% 0 1.4%;
  }
  .middle-column .col.span_1_of_2 {
    width: 45%;
    margin: 3% 0 0 0;
  }
  .middle-column .col.span_1_of_2#score {
    margin-left: 0;
  }
  #stopWatch, .score {
    font-size: 150%;
  }
  .col.span_1_of_4.control-items .btn-ctrl:link, .col.span_1_of_4.control-items .btn-ctrl:visited {
    padding: 6px 0;
    font-size: 100%;
  }
  .quiz-sample {
    font-size: 120%;
    padding-top: 0;
  }
  .quiz-sample .btn-qs {
    width: 90%;
    margin-left: 5%;
  }
  .quiz-sample label {
    font-size: 110%;
    padding-left: 4%;
  }
  .quiz-sample label input[type="radio"] {
    margin: 1.80% 1% 0 0;
  }
  .field {
    margin-top: 15px;
  }
  .field button {
    margin: 0 7%;
  }
  .field p {
    font-size: 110%;
    padding-top: 0;
    margin-top: 0;
  }
  .field label span {
    padding-left: 3%;
  }
  .field .extra-info {
    padding-top: 0;
    margin-top: 0;
  }
  .theory-questions, .theory-solutions{
      font-size: 110%;
    }
    .theory-questions h3, .theory-solutions h3{
      padding-top: 0;
      font-size: 100%;
    }
    .theory-questions img, .theory-solutions img {
      padding: 10px 0 0 0;
    }
    .part_2 {
      width: 100%;
    }
    .major-questions-num {
      width: 10%;
    }
    .major-questions-items {
      width: 85%;
    }
    .major-questions-items li {
      padding-left: 0;
    }
    .major-questions-items .list-items li {
      padding-left: 7%;
      padding-bottom: 1%;
    }
    .list-numerals, .objective-question-num {
      width: 5%;
    }
    .objective-question {
      padding-left: 2%;
    }
    .list-items, .objective-question {
      width: 95%;
    }
    .list-items, .list-numerals, .objective-question, .major-questions-num, .major-questions-items, .objective-question-num {
      float: left;
    }
    .article-content h3 {
      font-size: 110%;
      text-align: left;
    }
    .section-downloads h2 {
      font-size: 150%;
      margin-bottom: 20px;
    }
    .section-downloads h3 {
      padding: 2% 0;
      text-align: center;
      font-size: 150%;
      margin: 10px 0;
      margin-bottom: 7px;
    }
    .section-downloads .col.span_1_of_5, #terminal-exams, #mock-exams, #lesson-note {
      width: 46%;
      margin: 3% 2% 2% 2%;
    }
    .accordion-content li a:hover, .accordion-content li a:active {
      color: #fff;
    }
    #terminal-exams {
      margin-right: 2%;
    }
    .syllabuses li {
      margin: 0 3% 1% 5%;
      font-size: 110%;
      text-align: left;
    }
    .syllabuses li a:link, .syllabuses li a:visited, #lesson-note li a:link, #lesson-notes li a:visited {
      margin-left: 0;
    }
    #terminal-exams h3, #mock-exams h3, #lesson-note h3 {
      margin-bottom: 15px;
      padding-bottom: 0;
      padding-top: 2%;
    }
    .section-downloads button.accordion, #lesson-note button.accordion {
      padding: 6% 6%;
      margin: 2% 5%;
      width: 90%;
      font-size: 90%;
    }
    .section-downloads h3:after, #terminal-exams h3:after, #mock-exams h3:after {
      width: 100%;
    }
    .accordion-content li a:hover, .accordion-content li a:active {
      color: #fff;
    }
    .div-centered-showblog {
      width: 75%;
      margin-top: 40px;
    }
    .row div h2 {
      font-size: 170%;
    }
    .popular-post .group h2 {
      padding-top: 10px;
    }
    /* Login and Sign in */
    .col-centered {
      width: 60%;
    }
    .comment-section {
      width: 90%;
      margin: 7% 5%;
    }
    /* Footer Section */
    footer .col.col.span_1_of_3 {
      width: 90%;
      margin-left: 5%;
      margin-top: 1%;
    }
    footer h3 {
      text-align: center;
      margin: 15px 0;
    }
    .footer-nav {
      width: 80%;
      margin-left: 23%;
    }
    .footer-nav li {
      width: 100%;
    }
    footer .fa {
      margin-right: 7%;
    }
    .contact-number {
      padding-left: 6%;
    }
    .contact-number, .email {
      font-size: 140%;
    }
    .footer-social-links {
      width: 75%;
      margin-left: 25%;
    }
    .footer-social-links li {
      width: 25%;
    }
    .news-letter {
      text-align: left;
    }
    footer .col.span_1_of_3 form {
      width: 80%;
      margin-left: 10%;
      font-size: 100%;
    }
    .news-letter {
      text-align: center;
    }
    /* #like-me {
    padding-left: 0;
    margin-bottom: 0;
  } */
  }
  /* Small phones from zero to 480px */
  @media only screen and (max-width: 480px) {
    section {
      padding: 25px 0;
    }
    nav {
      padding: 5px 0 10px 0;
    }
    .col {
      width: 100%;
      margin: 0 0 4% 0;
    }
    .col:first-child {
      margin-left: 1.5%;
    }
    .btn-ctrl:link, .btn-ctrl:visited {
      font-size: 100%;
      font-weight: 600;
    }
    .crt-user {
      display: block;
      margin-right: 0;
    }
    .brand--crt--user {
      float: left;
    }
    a.brand {
      padding-top: 9px;
      margin-right: 20px;
    }
    .header-btn {
      width: 47%;
      margin: 2% 1%;
    }
    #mock {
      width: 60%;
      margin: 2% 20%;
    }
    #mock {
      float: right;
    }
    #mock .btn-full, #exams .btn-full, #syllabus .btn-full {
      background: none;
      color: #fff;
    }
    #mock .btn-full:hover, #exams .btn-full:hover, #syllabus .btn-full:hover {
      background-color: #666;
    }
    .mobile-nav-icon i {
      padding-top: 5px;
    }
    .main-nav li a:link, .main-nav li a:visited, .main-nav-blog li a:link, .main-nav-blog li a:visited {
      display: block;
      padding: 3px 0;
      border: 0;
      text-align: center;
      font-size: 120%;
      margin-left: 10px;
      margin-right: 10px;
    }
    .section-subjects h2 {
      margin: 20px auto;
    }
    .section-subjects .btn-qs, .quiz-sample .btn-qs {
      width: 95%;
      margin: 0 0 25px 2.5%;
      font-size: 90%;
    }
    .middle-column {
      width: 100%;
      margin: 2% 0;
      padding: 5% 0;
    }
    .middle-column h3 {
      margin: 15px 0 15px 0;
    }
    .col.span_1_of_4 {
      width: 45%;
      margin: 1.5% 1% 1.5% 2%;
    }
    .col.span_1_of_4.control-items select {
      padding: 9px 5px 8px 5px;
      width: 80%;
      margin-left: 10%;
    }
    .col.span_1_of_4.control-items .btn-ctrl:link, .col.span_1_of_4.control-items .btn-ctrl:visited {
      padding: 7px 0;
      width: 80%;
      font-size: 100%;
      margin-left: 9%;
    }
    .middle-column .col.span_1_of_2 {
      width: 100%;
      margin: 3% 0 0 0;
    }
    /* .middle-column .col.span_1_of_2#score {
    margin: 0;
  } */
    #stopWatch, .score {
      font-size: 150%;
      margin-bottom: 0;
    }
    .field .extra-info {
      padding-top: 0;
      margin-top: 0;
    }
    .part_2 {
      width: 100%;
      /* margin-left: 10%; */
    }
    .quiz-sample {
      font-size: 120%;
      padding-top: 0;
    }
    .quiz-sample .btn-qs {
      width: 100%;
      margin-bottom: 0;
    }
    .quiz-sample label {
      font-size: 110%;
      padding-left: 14px;
    }
    .quiz-sample label input[type="radio"] {
      margin: 1.80% 1% 0 0;
    }
    .field {
      margin-top: 15px;
    }
    .field button {
      margin: 0 7%;
    }
    .field p {
      font-size: 110%;
      padding-top: 0;
      margin-top: 0;
    }
    .field label span {
      padding-left: 3%;
    }
    .field .extra-info {
      padding-top: 0;
      margin-top: 0;
    }
    .theory-questions, .theory-solutions{
      font-size: 110%;
    }
    .theory-questions h3, .theory-solutions h3 {
      padding-top: 0;
      font-size: 100%;
    }
    .theory-questions img, .theory-solutions {
      padding: 10px 0 0 0;
    }
    .part_2 {
      width: 100%;
    }
    .major-questions-num {
      width: 10%;
    }
    .major-questions-items {
      width: 85%;
    }
    .major-questions-items li {
      padding-left: 0;
    }
    .major-questions-items .list-items li {
      padding-left: 7%;
      padding-bottom: 1%;
    }
    .list-numerals, .objective-question-num {
      width: 5%;
    }
    .objective-question {
      padding-left: 2%;
    }
    .list-items, .objective-question {
      width: 95%;
    }
    .list-items, .list-numerals, .objective-question, .major-questions-num, .major-questions-items, .objective-question-num {
      float: left;
    }
    .section-articles .col.span_1_of_3 {
      width: 100%;
      margin-left: 0;
    }
    .article-content div a:link, .article-content div a:visited {
      color: #555;
    }
    .section-downloads {
      margin-bottom: 40px;
    }
    .section-downloads h2 {
      margin-bottom: 10px;
    }
    .section-downloads .col.span_1_of_5, #terminal-exams, #mock-exams, #lesson-note {
      width: 90%;
      margin: 5% 0 3% 5%;
    }
    .accordion-content li a:hover, .accordion-content li a:active {
      color: #fff;
    }
    #terminal-exams h3, #mock-exams h3, #lesson-note h3 {
      margin-bottom: 15px;
      padding-top: 5px;
    }
    .syllabuses li {
      margin: 0 3% 1% 3%;
      font-size: 110%;
      text-align: center;
    }
    .syllabuses li a:link, .syllabuses li a:visited, .lesson-notes li a:link, .lesson-notes li a:visited {
      margin-left: 0;
    }
    .section-downloads button.accordion, #lesson-note button.accordion {
      padding: 6% 6%;
      margin: 2% 5%;
      width: 90%;
      font-size: 100%;
    }
    .section-downloads h3 {
      font-size: 150%;
      padding: 2% 0;
      margin: 10px 0;
      text-align: center;
    }
    .section-downloads h3:after {
      width: 100%;
    }
    /* Login and Sign in */
    .col-centered {
      width: 70%;
    }
    .comment-section {
      width: 80%;
      margin: 5% 10%;
    }
    .popular-post .group h2 {
      padding-top: 10px;
    }
    .div-centered-showblog {
      margin-top: 40px;
    }
    /* footer section */
    .footer-nav {
      width: 100%;
      margin-left: 0;
    }
    .footer-nav li {
      width: 85%;
      margin-left: 13%;
    }
    .footer-social-links {
      margin-left: 16%;
    }
    .footer-social-links li {
      display: inline-block;
      margin-right: 15px;
    }
    .footer-social-links li:last-child {
      margin-right: 0;
    }
    footer .col.span_1_of_3 form {
      width: 90%;
      margin-left: 5%;
    }
  }
  @media only screen and (max-width: 390px) {
    section {
      padding: 20px 0;
    }
    .btn-ctrl:link, .btn-ctrl:visited {
      font-size: 82%;
      font-weight: 700;
    }
    .col {
      width: 100%;
      margin: 0 0 4% 0;
    }
    .col:first-child {
      margin-left: 1.5%;
    }
    nav {
      padding: 10px 0 15px 0;
    }
    .header-btn {
      width: 47%;
      margin: 5% 1%;
    }
    a.brand {
      padding-top: 7px;
    }
    .col.span_1_of_4 {
      width: 45%;
      margin: 3% 1% 3% 2%;
    }
    select {
      padding: 9px 5px;
      width: 100%;
    }
    .col.span_1_of_4.control-items .btn-ctrl:link, .col.span_1_of_4.control-items .btn-ctrl:visited {
      padding: 7px 0;
      font-size: 100%;
    }
    ;
    #mock {
      width: 60%;
      margin: 5% 20%;
    }
    #mock .btn-full, #exams .btn-full, #syllabus .btn-full {
      background: none;
      color: #fff;
    }
    #mock .btn-full:hover, #exams .btn-full:hover, #syllabus .btn-full:hover {
      background-color: #666;
    }
    .section-subjects .btn-qs, .quiz-sample .btn-qs {
      width: 100%;
      margin: 0 0 25px 0;
      font-size: 90%;
      font-weight: 550;
    }
    .section-subjects h2 {
      margin: 20px auto;
    }
    button.accordion, #btn-ict {
      margin: 0;
      padding: 15px 11px;
      width: 100%;
      font-weight: 700;
      font-size: 95%;
    }
    .accordion-content li {
      width: 40%;
      margin-left: 5%;
    }
    .middle-column {
      width: 100%;
      margin: 2% 0;
      padding: 5% 0;
    }
    .middle-column h3 {
      margin: 10px 0;
    }
    .quiz-sample {
      font-size: 115%;
      padding-top: 0;
      padding-left: 4%;
    }
    .quiz-sample .btn-qs {
      width: 100%;
      font-size: 70%;
      text-align: center;
    }
    .quiz-sample label {
      font-size: 110%;
      padding-left: 6%;
    }
    .quiz-sample label input[type="radio"] {
      margin: 1.80% 1% 0 0;
    }
    .field {
      margin-top: 15px;
    }
    .field button {
      margin: 0 0 0 7%;
    }
    .field p {
      font-size: 110%;
      padding-top: 0;
      margin-top: 0;
    }
    .field label span {
      padding-left: 3%;
    }
    .field .extra-info {
      padding-top: 0;
      margin-top: 0;
    }
    .theory-questions, .theory-solutions {
      font-size: 110%;
    }
    .theory-questions h3, .theory-solutions h3 {
      padding-top: 30px;
      font-size: 100%;
    }
    .theory-questions img, .theory-solutions img {
      padding: 10px 0 0 0;
    }
    .part_2 {
      width: 100%;
    }
    .major-questions-num {
      width: 10%;
    }
    .major-questions-items {
      width: 85%;
    }
    .major-questions-items li {
      padding-left: 5%;
    }
    .major-questions-items .list-items li {
      padding-left: 8%;
      padding-bottom: 1%;
    }
    .list-numerals, .objective-question-num {
      width: 5%;
    }
    .objective-question {
      padding-left: 5%;
    }
    .list-items, .objective-question {
      width: 95%;
    }
    .list-items, .list-numerals, .objective-question, .major-questions-num, .major-questions-items, .objective-question-num {
      float: left;
    }
    .field .extra-info {
      padding-top: 0;
      margin-top: 0;
    }
    .section-articles .col.span_1_of_3 {
      width: 100%;
      margin-left: 0;
    }
    .col.span_1_of_3 {
      width: 95%;
      margin: 0 0 3% 2.5%;
    }
    .article-content div a:link, .article-content div a:visited {
      color: #555;
    }
    .section-downloads {
      margin-bottom: 40px;
    }
    .section-downloads h2 {
      margin-bottom: 10px;
    }
    .section-downloads .col.span_1_of_5, #terminal-exams, #mock-exams, #lesson-note {
      width: 90%;
      margin: 5% 0 3% 5%;
    }
    #terminal-exams h3, #mock-exams h3, #lesson-note h3 {
      margin-bottom: 15px;
      padding-top: 5px;
    }
    .syllabuses li {
      margin: 0 3% 1% 3%;
      font-size: 110%;
      text-align: center;
    }
    .syllabuses li a:link, .syllabuses li a:visited {
      margin-left: 0;
    }
    .section-downloads button.accordion, #lesson-note button.accordion {
      padding: 6% 6%;
      margin: 2% 5%;
      width: 90%;
      font-size: 100%;
    }
    .accordion-content li a:hover, .accordion-content li a:active {
      color: #fff;
    }
    .section-downloads h3 {
      font-size: 150%;
      padding: 2% 0;
      margin: 10px 0;
      text-align: center;
    }
    .section-downloads h3:after {
      width: 100%;
    }
    .comment-section {
      width: 90%;
      margin: 5% 5%;
    }
    .div-centered-showblog {
      width: 85%;
    }
    .row div h2 {
      font-size: 150%;
    }
    .article-content h3 {
      font-size: 110%;
      text-align: center;
    }
    /* Login and Sign in */
    .col-centered {
      width: 70%;
    }
    .popular-post .group h2 {
      padding-top: 10px;
    }
    .div-centered-showblog {
      margin-top: 40px;
    }
    footer section .footer-nav {
      width: 100%;
      margin-left: 0;
    }
    .footer-nav li {
      width: 90%;
      margin-left: 5%;
    }
    .footer-social-links {
      margin-left: 16%;
    }
    .footer-social-links li {
      display: inline-block;
      margin-right: 15px;
    }
    .footer-social-links li:last-child {
      margin-right: 0;
    }
    footer .col.span_1_of_3 form {
      width: 90%;
      margin-left: 5%;
    }
    /* .footer-social-links li {
    width: 20%;
    margin: 0 11px;
  } */
    /* .footer-social-links li.fa-twitter{margin-right: 0;}  */
  }